/* ==========Utils========= */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #FFFFFF;
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
}

/*================== PAGE-HEADER ====================== */
.page-header {
  background-image: url("../img/background/background-desktop-mobil.jpg");
  height: 865px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}
@media screen and (min-width: 480px) {
  .page-header {
    height: 780px;
    background-image: url("../img/background/background-desktop-mobil@2x.jpg");
  }
}
@media (min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .page-header {
    background-image: url("../img/background/background-desktop-mobil@2x.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 920px) {
  .page-header {
    height: 1320px;
    background-image: url("../img/background/background-desktop-tablet.jpg");
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .page-header {
    background-image: url("../img/background/background-desktop-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    max-width: 1900px;
    height: 750px;
    background-image: url("../img/background/background-desktop.jpg");
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .page-header {
    background-image: url("../img/background/background-desktop@2x.jpg");
  }
}

.page-header__nav {
  position: fixed;
  margin-left: 40px;
}
@media screen and (min-width: 768px) {
  .page-header__nav {
    display: flex;
    align-items: center;
    margin-left: 100px;
  }
}
@media screen and (max-width: 300px) {
  .page-header__nav {
    margin-left: 10px;
  }
}

/* =================SITE-NAV  ================= */
.site-nav {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.94;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 480px) {
  .site-nav {
    display: flex;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.94;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 767px) {
  .site-nav {
    display: flex;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.94;
    letter-spacing: 0.03em;
  }
}

.site-nav__link {
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #FF8230;
}

.site-nav__link--current {
  color: #FF8230;
}

.site-nav__item {
  margin-right: 30px;
}
@media screen and (max-width: 350px) {
  .site-nav__item {
    margin-right: 10px;
  }
}
@media screen and (min-width: 480px) {
  .site-nav__item {
    margin-right: 50px;
  }
}

.hero {
  margin-top: 180px;
}
@media screen and (min-width: 768px) {
  .hero {
    margin-top: 160px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    margin-top: 80px;
  }
}

.hero__list {
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .hero__list {
    display: block;
  }
}

.hero__item {
  display: flex;
  justify-content: center;
}

.hero__link {
  position: fixed;
  text-decoration: none;
  display: block;
}

.water {
  padding-left: 10px;
  padding-right: 10px;
}

.hero__thumb {
  position: relative;
  overflow: hidden;
}

.hero__overlay {
  margin-top: 45px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(50%);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1), opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__link:hover .hero__overlay, .hero__link:focus .hero__overlay {
  transform: translateX(0);
  opacity: 1;
}

.logo {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  transform: translateX(-7%);
}

.title {
  text-align: right;
  margin-top: 500px;
  margin-right: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  color: #FF8230;
}
@media screen and (min-width: 768px) {
  .title {
    margin-right: 100px;
    text-align: right;
    margin-top: 500px;
    margin-right: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.86;
    letter-spacing: 0.06em;
    color: #FF8230;
  }
}/*# sourceMappingURL=mine.css.map */