/* ==========Utils========= */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  overflow: hidden;
  width: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #FFFFFF;
  color: rgb(0, 255, 255);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
}

/*================== PAGE-HEADER ====================== */
.page-header {
  background-image: url("../img/background/background-desktop-mobil.jpg");
  height: 935px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-left: auto;
  margin-right: auto;
}
@media (min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .page-header {
    background-image: url("../img/background/background-desktop-mobil@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .page-header {
    height: 1370px;
    background-image: url("../img/background/background-desktop-tablet.jpg");
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .page-header {
    height: 1370px;
    background-image: url("../img/background/background-desktop-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    max-width: 1600px;
    height: 820px;
    background-image: url("../img/background/background-desktop.jpg");
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .page-header {
    height: 1180px;
    background-image: url("../img/background/background-desktop@2x.jpg");
  }
}

/* =================SITE-NAV  ================= */
.page__nav {
  margin-left: 8%;
  margin-top: 20px;
  z-index: 1;
  position: fixed;
}
@media screen and (min-width: 1200px) {
  .page__nav {
    margin-top: 30px;
  }
}

.bg-nav {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #9ee8d5;
  width: 1600px;
}

.site-nav {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.94;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .site-nav {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.94;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.94;
    letter-spacing: 0.03em;
  }
}

.site-nav__link {
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #FF8230;
}

.site-nav__link--current {
  color: #FF8230;
}

.site-nav__item {
  display: flex;
  align-items: end;
  margin-right: 15px;
}
@media screen and (min-width: 768px) {
  .site-nav__item {
    margin-right: 50px;
  }
}

.discl-logo {
  display: none;
}
@media screen and (min-width: 1200px) {
  .discl-logo {
    margin-left: 30px;
    margin-right: 20px;
    opacity: 0;
    display: flex;
    transition: transform 2000ms cubic-bezier(0.4, 0, 0.2, 1), opacity 2000ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav:hover .discl-logo, .site-nav:focus .discl-logo {
    opacity: 1;
  }
}

.hero {
  padding: 0px;
  display: flex;
  justify-content: center;
}

.hero__link {
  position: fixed;
  text-decoration: none;
  display: block;
}

.hero__thumb {
  position: relative;
  overflow: hidden;
}

.hero__water {
  z-index: 2;
  margin-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (min-width: 650px) {
  .hero__water {
    margin-top: 35px;
  }
}
@media screen and (min-width: 661px) {
  .hero__water {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__water {
    margin-top: 120px;
  }
}

.logo__overlay {
  display: flex;
  justify-content: center;
  padding: 0px;
  opacity: 0;
  transition: transform 2000ms cubic-bezier(0.4, 0, 0.2, 1), opacity 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__link:hover .logo__overlay, .hero__link:focus .logo__overlay {
  opacity: 1;
}

.hero-logo {
  width: 90px;
  height: 90px;
  margin-top: -230px;
}
@media screen and (min-width: 650px) {
  .hero-logo {
    margin-top: -150px;
  }
}
@media screen and (min-width: 660px) {
  .hero-logo {
    margin-top: -180px;
  }
}
@media screen and (min-width: 768px) {
  .hero-logo {
    width: 110px;
    height: 110px;
    margin-top: -190px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-logo {
    width: 150px;
    height: 150px;
    margin-top: -250px;
  }
}

.oxy-container {
  margin-top: 300px;
}
@media screen and (min-width: 380px) {
  .oxy-container {
    margin-top: 400px;
  }
}
@media screen and (min-width: 650px) {
  .oxy-container {
    margin-top: 90px;
  }
}
@media screen and (min-width: 660px) {
  .oxy-container {
    margin-top: 140px;
  }
}
@media screen and (min-width: 1200px) {
  .oxy-container {
    margin-top: 300px;
  }
}

.oxy {
  display: flex;
  justify-content: center;
}

.hero__title {
  text-align: center;
}

.title {
  text-shadow: 2px 1px 10px black;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.25em;
  color: rgb(0, 255, 255);
}
@media screen and (min-width: 1200px) {
  .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.86;
    letter-spacing: 0.26em;
    text-align: right;
    position: fixed;
    margin-top: 0px;
    margin-left: 12%;
    width: 60%;
  }
}

.discl {
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-image: linear-gradient(to right, rgba(36, 40, 46, 0.753), rgba(23, 44, 59, 0.801)), url("../img/bg-discl/bg.jpg");
  max-width: 1600px;
  height: 2650px;
  margin-left: auto;
  margin-right: auto;
}

.discl-hero__heading {
  text-align: center;
  text-transform: uppercase;
  padding-top: 200px;
  padding-bottom: 200px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.86;
  letter-spacing: 0.26em;
  text-shadow: 2px 1px 10px black;
  color: #33FF99;
}

.hand-hero {
  margin-right: 40px;
  display: flex;
  justify-content: right;
}

.hand-hero__border {
  border: 3px solid #0000FF;
  box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.5);
  box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.5);
  max-height: 300px;
}
.hand-hero__border:hover, .hand-hero__border:focus {
  border: 3px solid rgb(0, 255, 255);
}

.develo-eco__title {
  margin-right: 230px;
  margin-bottom: 380px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.86;
  letter-spacing: 0.26em;
}

.develo-eco__list {
  padding-bottom: 0;
}

.develo-eco___card {
  max-width: 630px;
}

.develo-eco__content {
  display: flexbox;
  max-width: 555px;
  margin-left: 40px;
}

.develo-eco__svg {
  margin-left: 190px;
  margin-bottom: 30px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.develo-eco__content:hover .develo-eco__svg, .develo-eco__content:focus .develo-eco__svg {
  transform: translateY(-250%);
}

.develo-eco__art {
  position: fixed;
  max-width: 530px;
  max-height: 300px;
  opacity: 0;
  overflow: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  color: #3FA9F5;
  line-height: 1.5;
  letter-spacing: 0.06em;
}
.develo-eco___line:hover .develo-eco__art, .develo-eco___line:focus .develo-eco__art, .develo-eco__content:hover .develo-eco__art, .develo-eco__content:focus .develo-eco__art {
  opacity: 1;
  transform: translateY(0);
  position: absolute;
  margin-top: 150px;
}

.develo-eco___line {
  display: block;
}

.develo-eco___decor1 {
  margin-left: -10px;
  width: 555px;
  border: 1px solid #0000FF;
}
.develo-eco___card:hover .develo-eco___decor1, .develo-eco___card:focus .develo-eco___decor1 {
  border: 1px solid rgb(0, 255, 255);
}

.develo-eco___decor2 {
  margin-top: -350px;
  margin-left: 545px;
  height: 350px;
  width: 1px;
  border: 1px solid #0000FF;
}
.develo-eco___card:hover .develo-eco___decor2, .develo-eco___card:focus .develo-eco___decor2 {
  border: 1px solid rgb(0, 255, 255);
}

.develo-eco___decor3 {
  margin-top: -350px;
  min-width: 230px;
  max-width: 240px;
  margin-left: 545px;
  border: 1px solid #0000FF;
}
.develo-eco___card:hover .develo-eco___decor3, .develo-eco___card:focus .develo-eco___decor3 {
  border: 1px solid rgb(0, 255, 255);
}

/* ===================== CONTAINER ==================== */
.container {
  padding-left: 15px;
  padding-right: 15px;
  border: 2px dashed tomato;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}/*# sourceMappingURL=mine.css.map */