/* ==========Utils========= */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  overflow: hidden;
  width: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: rgba(1, 5, 40, 0.8941176471);
  color: rgb(0, 255, 255);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
}

/*================== PAGE-HEADER ====================== */
.page-header {
  background-image: url("../img/background/background-desktop-mobil.jpg");
  height: 935px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-left: auto;
  margin-right: auto;
}
@media (min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .page-header {
    background-image: url("../img/background/background-desktop-mobil@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .page-header {
    height: 1370px;
    background-image: url("../img/background/background-desktop-tablet.jpg");
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .page-header {
    height: 1370px;
    background-image: url("../img/background/background-desktop-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    max-width: 1600px;
    height: 820px;
    background-image: url("../img/background/background-desktop.jpg");
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .page-header {
    height: 1180px;
    background-image: url("../img/background/background-desktop@2x.jpg");
  }
}

/* =================SITE-NAV  ================= */
.page__nav {
  margin-left: 8%;
  margin-top: 20px;
  z-index: 1;
  position: fixed;
}
@media screen and (min-width: 1200px) {
  .page__nav {
    margin-top: 20px;
    margin-left: 30px;
  }
}

.bg-nav {
  margin-left: 10px;
  padding-top: 15px;
  padding-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .bg-nav {
    padding-top: 35px;
    padding-bottom: 15px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.site-nav {
  text-shadow: 1px 1px 1px black;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.94;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .site-nav {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.94;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.94;
    letter-spacing: 0.03em;
  }
}

.site-nav__link {
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #FF8230;
}

.site-nav__link--current {
  color: #FF8230;
}

.site-nav__item {
  margin-right: 15px;
}
@media screen and (min-width: 768px) {
  .site-nav__item {
    margin-right: 50px;
  }
}

.discl-logo {
  display: none;
}
@media screen and (min-width: 1200px) {
  .discl-logo {
    display: table;
  }
}

.hero {
  padding: 0px;
  display: flex;
  justify-content: center;
}

.hero__link {
  position: fixed;
  text-decoration: none;
  display: block;
}

.hero__thumb {
  position: relative;
  overflow: hidden;
}

.hero__water {
  z-index: 2;
  margin-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (min-width: 650px) {
  .hero__water {
    margin-top: 35px;
  }
}
@media screen and (min-width: 661px) {
  .hero__water {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__water {
    margin-top: 120px;
  }
}

.logo__overlay {
  display: flex;
  justify-content: center;
  padding: 0px;
  opacity: 0;
  transition: transform 2000ms cubic-bezier(0.4, 0, 0.2, 1), opacity 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__link:hover .logo__overlay, .hero__link:focus .logo__overlay {
  opacity: 1;
}

.hero-logo {
  width: 90px;
  height: 90px;
  margin-top: -230px;
}
@media screen and (min-width: 650px) {
  .hero-logo {
    margin-top: -150px;
  }
}
@media screen and (min-width: 660px) {
  .hero-logo {
    margin-top: -180px;
  }
}
@media screen and (min-width: 768px) {
  .hero-logo {
    width: 110px;
    height: 110px;
    margin-top: -190px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-logo {
    width: 150px;
    height: 150px;
    margin-top: -250px;
  }
}

.oxy-container {
  margin-top: 300px;
}
@media screen and (min-width: 380px) {
  .oxy-container {
    margin-top: 400px;
  }
}
@media screen and (min-width: 650px) {
  .oxy-container {
    margin-top: 90px;
  }
}
@media screen and (min-width: 660px) {
  .oxy-container {
    margin-top: 140px;
  }
}
@media screen and (min-width: 1200px) {
  .oxy-container {
    margin-top: 300px;
  }
}

.oxy {
  display: flex;
  justify-content: center;
}

.hero__title {
  text-align: center;
}

.title {
  text-shadow: 2px 1px 10px black;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.25em;
  color: rgb(0, 255, 255);
}
@media screen and (min-width: 1200px) {
  .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.86;
    letter-spacing: 0.26em;
    text-align: right;
    position: fixed;
    margin-top: 0px;
    margin-left: 12%;
    width: 60%;
  }
}

.discl {
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 40px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  background-image: linear-gradient(rgba(11, 44, 114, 0.708), rgba(0, 0, 0, 0.636)), url("../img/bg-discl/bg-mobil.jpg");
}
@media screen and (min-width: 1200px) {
  .discl {
    display: flexbox;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(11, 44, 114, 0.708), rgba(0, 0, 0, 0.636)), url("../img/bg-discl/bg.jpg");
  }
}

.discl-hero {
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .discl-hero {
    margin: 0;
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

.discl-hero__heading {
  margin-left: 10px;
  margin-right: 10px;
  color: #33FF99;
  text-shadow: 2px 1px 10px black;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.86;
  letter-spacing: 0.26em;
}
@media screen and (min-width: 1200px) {
  .discl-hero__heading {
    height: 50px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.86;
    letter-spacing: 0.26em;
  }
}

.hand-hero {
  display: flexbox;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 100px;
  border: 3px solid #0000FF;
  box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.5);
  box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.5);
  z-index: 1;
}
.hand-hero:hover, .hand-hero:focus {
  border: 3px solid rgb(0, 255, 255);
  box-shadow: 3px 3px 0px 0px rgba(128, 215, 228, 0.5);
  box-shadow: 0px 0px 3px 3px rgba(109, 206, 239, 0.5);
}
.develo-eco:hover .hand-hero, .develo-eco:focus .hand-hero {
  border: 3px solid rgb(0, 255, 255);
}
@media screen and (min-width: 1200px) {
  .hand-hero {
    margin-bottom: 50px;
    margin-right: 0px;
    margin-left: 565px;
    display: flexbox;
    justify-content: right;
    height: 210px;
    max-width: 550px;
  }
}

/* ===================== CONTAINER ==================== */
.container {
  padding-left: 5px;
  padding-right: 5px;
  border: 3px solid #51515d;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.develo-eco___line {
  margin-top: 190px;
  z-index: 2;
  margin-top: 190px;
  display: flexbox;
}
@media screen and (min-width: 1200px) {
  .develo-eco___line {
    margin-top: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .impact___line {
    display: flexbox;
    margin-top: 60px;
    z-index: 2;
  }
}

@media screen and (min-width: 1200px) {
  .impact___line4 {
    display: flexbox;
    margin-top: 70px;
    z-index: 2;
  }
}

@media screen and (min-width: 1200px) {
  .impact___line2 {
    display: flexbox;
    margin-top: 50px;
    z-index: 2;
  }
}

@media screen and (min-width: 1200px) {
  .impact___line3 {
    display: flexbox;
    margin-top: 100px;
    z-index: 2;
  }
}

.develo-eco___decor1 {
  border: 1px solid #0000FF;
  width: 220px;
}
.develo-eco__content:hover .develo-eco___decor1, .develo-eco__content:focus .develo-eco___decor1 {
  border: 1px solid rgb(0, 255, 255);
}
@media screen and (min-width: 1200px) {
  .develo-eco___decor1 {
    margin-left: -10px;
    width: 425px;
  }
}

.develo-eco___decor2 {
  overflow: visible;
  margin-top: -221px;
  height: 221px;
  margin-left: 415px;
  width: 1px;
  border: 1px solid #0000FF;
}
.develo-eco__content:hover .develo-eco___decor2, .develo-eco__content:focus .develo-eco___decor2 {
  border: 1px solid rgb(0, 255, 255);
}

.develo-eco___decor3 {
  margin-top: -221px;
  width: 170px;
  margin-left: 415px;
  border: 1px solid #0000FF;
}
.develo-eco__content:hover .develo-eco___decor3, .develo-eco__content:focus .develo-eco___decor3 {
  border: 1px solid rgb(0, 255, 255);
}

.develo-eco___decor4 {
  margin-left: -10px;
  width: 440px;
  border: 1px solid #0000FF;
}
.develo-eco__content:hover .develo-eco___decor4, .develo-eco__content:focus .develo-eco___decor4 {
  border: 1px solid rgb(0, 255, 255);
}

.develo-eco___decor5 {
  margin-top: -514px;
  margin-left: 430px;
  height: 514px;
  width: 1px;
  border: 1px solid #0000FF;
}
.develo-eco__content:hover .develo-eco___decor5, .develo-eco__content:focus .develo-eco___decor5 {
  border: 1px solid rgb(0, 255, 255);
}

.develo-eco___decor6 {
  margin-top: -514px;
  width: 155px;
  margin-left: 430px;
  border: 1px solid #0000FF;
}
.develo-eco__content:hover .develo-eco___decor6, .develo-eco__content:focus .develo-eco___decor6 {
  border: 1px solid rgb(0, 255, 255);
}

.develo-eco___decor7 {
  width: 610px;
  border: 1px solid #0000FF;
}
.develo-eco__content:hover .develo-eco___decor7, .develo-eco__content:focus .develo-eco___decor7 {
  border: 1px solid rgb(0, 255, 255);
}

.develo-eco___decor8 {
  margin-top: -423px;
  height: 423px;
  width: 1px;
  border: 1px solid #0000FF;
}
.develo-eco__content:hover .develo-eco___decor8, .develo-eco__content:focus .develo-eco___decor8 {
  border: 1px solid rgb(0, 255, 255);
}

.develo-eco___decor9 {
  margin-top: -423px;
  width: 70px;
  margin-left: 0px;
  border: 1px solid #0000FF;
}
.develo-eco__content:hover .develo-eco___decor9, .develo-eco__content:focus .develo-eco___decor9 {
  border: 1px solid rgb(0, 255, 255);
}

.develo-eco___decor10 {
  width: 500px;
  border: 1px solid #0000FF;
}
.develo-eco__content:hover .develo-eco___decor10, .develo-eco__content:focus .develo-eco___decor10 {
  border: 1px solid rgb(0, 255, 255);
}

.develo-eco___decor11 {
  margin-top: -710px;
  height: 710px;
  width: 1px;
  border: 1px solid #0000FF;
}
.develo-eco__content:hover .develo-eco___decor11, .develo-eco__content:focus .develo-eco___decor11 {
  border: 1px solid rgb(0, 255, 255);
}

.develo-eco___decor12 {
  margin-top: -710px;
  width: 95px;
  border: 1px solid #0000FF;
}
.develo-eco__content:hover .develo-eco___decor12, .develo-eco__content:focus .develo-eco___decor12 {
  border: 1px solid rgb(0, 255, 255);
}

.develo-eco___decor14 {
  margin-top: -370px;
  height: 370px;
  width: 1px;
  border: 1px solid #0000FF;
}
.develo-eco__content:hover .develo-eco___decor14, .develo-eco__content:focus .develo-eco___decor14 {
  border: 1px solid rgb(0, 255, 255);
}

.develo-eco___decor15 {
  margin-top: -370px;
  width: 133px;
  border: 1px solid #0000FF;
}
.develo-eco__content:hover .develo-eco___decor15, .develo-eco__content:focus .develo-eco___decor15 {
  border: 1px solid rgb(0, 255, 255);
}

.develo-eco___decor16 {
  margin-left: 133px;
  margin-top: -649px;
  height: 649px;
  width: 1px;
  border: 1px solid #0000FF;
}
.develo-eco__content:hover .develo-eco___decor16, .develo-eco__content:focus .develo-eco___decor16 {
  border: 1px solid rgb(0, 255, 255);
}

.develo-eco___decor17 {
  margin-left: 133px;
  margin-top: -649px;
  width: 115px;
  border: 1px solid #0000FF;
}
.develo-eco__content:hover .develo-eco___decor17, .develo-eco__content:focus .develo-eco___decor17 {
  border: 1px solid rgb(0, 255, 255);
}

.develo-eco___decor18 {
  margin-top: -680px;
  height: 680px;
  width: 1px;
  border: 1px solid #0000FF;
}
.develo-eco__content:hover .develo-eco___decor18, .develo-eco__content:focus .develo-eco___decor18 {
  border: 1px solid rgb(0, 255, 255);
}

.develo-eco___decor19 {
  margin-top: -680px;
  width: 249px;
  border: 1px solid #0000FF;
}
.develo-eco__content:hover .develo-eco___decor19, .develo-eco__content:focus .develo-eco___decor19 {
  border: 1px solid rgb(0, 255, 255);
}

.develo-eco___decor20 {
  margin-left: 249px;
  margin-top: -606px;
  height: 606px;
  width: 1px;
  border: 1px solid #0000FF;
}
.develo-eco__content:hover .develo-eco___decor20, .develo-eco__content:focus .develo-eco___decor20 {
  border: 1px solid rgb(0, 255, 255);
}

.develo-eco___decor21 {
  margin-left: 249px;
  margin-top: -606px;
  width: 150px;
  border: 1px solid #0000FF;
}
.develo-eco__content:hover .develo-eco___decor21, .develo-eco__content:focus .develo-eco___decor21 {
  border: 1px solid rgb(0, 255, 255);
}

.develo-eco___decor22 {
  margin-top: -1053px;
  height: 1053px;
  width: 1px;
  border: 1px solid #0000FF;
}
.develo-eco__content:hover .develo-eco___decor22, .develo-eco__content:focus .develo-eco___decor22 {
  border: 1px solid rgb(0, 255, 255);
}

.develo-eco___decor23 {
  margin-top: -1053px;
  width: 369px;
  border: 1px solid #0000FF;
}
.develo-eco__content:hover .develo-eco___decor23, .develo-eco__content:focus .develo-eco___decor23 {
  border: 1px solid rgb(0, 255, 255);
}

.develo-eco___decor24 {
  margin-left: 369px;
  margin-top: -565px;
  height: 565px;
  width: 1px;
  border: 1px solid #0000FF;
}
.develo-eco__content:hover .develo-eco___decor24, .develo-eco__content:focus .develo-eco___decor24 {
  border: 1px solid rgb(0, 255, 255);
}

.develo-eco___decor25 {
  margin-left: 369px;
  margin-top: -565px;
  width: 155px;
  border: 1px solid #0000FF;
}
.develo-eco__content:hover .develo-eco___decor25, .develo-eco__content:focus .develo-eco___decor25 {
  border: 1px solid rgb(0, 255, 255);
}

/* =================== FOOTER =================== */
.page-footer {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .page-footer {
    display: flex;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer__address {
    display: inline-flex;
    padding-left: 40px;
  }
}

.page-footer__contacts {
  font-style: normal;
  font-size: 12px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer__contacts:hover, .page-footer__contacts:focus {
  color: #FF8230;
}
@media screen and (min-width: 1200px) {
  .page-footer__contacts {
    font-size: 16px;
    line-height: 1.71;
  }
}

.page-footer__contacts--city {
  color: #FFFFFF;
}

.footer-logo {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

/*================= join ================= */
@media screen and (min-width: 1200px) {
  .join {
    display: block;
    margin-left: 40px;
  }
}

.join__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .join__title {
    display: flexbox;
  }
}

.join__list {
  display: flex;
}

.join__item {
  padding: 0;
}
.join__item:not(:last-child) {
  margin-right: 10px;
}

.join__link {
  text-align: center;
  padding: 12px;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join__link:hover, .join__link:focus {
  background: #FF8230;
}

.join__icon {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

/*============ AUTH ============= */
.auth {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .auth {
    display: inline-flex;
    align-items: center;
    margin-left: 70px;
    margin-top: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .auth__wrapper {
    display: flex;
    align-items: center;
  }
}

.auth__title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .auth__title {
    text-align: left;
  }
}

.auth__input {
  margin: 0px;
  width: 100px;
  height: 50px;
  padding-left: 16px;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
}
@media screen and (min-width: 1200px) {
  .auth__input {
    width: 338px;
    margin-right: 12px;
  }
}

.auth__input::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}

.button--submit {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 50px;
  background-color: #FF8230;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  min-width: 200px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  transition: transform 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .button--submit {
    margin-top: 20px;
  }
}

.button__icon {
  margin-left: 10px;
}

.develo-eco {
  display: block;
  margin-bottom: 0px;
}
@media screen and (min-width: 1200px) {
  .develo-eco {
    display: flex;
    flex-wrap: wrap;
    width: 1120px;
  }
}

.develo-eco__box {
  text-align: center;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (min-width: 1200px) {
  .develo-eco__box {
    padding-bottom: 0px;
    height: 35px;
    padding: 5px;
    width: 430px;
  }
}

.develo-eco__title {
  transition: transform 2000ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 300;
  font-size: 11px;
  line-height: 1.86;
  letter-spacing: 0.26em;
}
.develo-eco__title:hover, .develo-eco__title:focus {
  font-size: 12px;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: 2px 2px 0px 0px rgba(194, 230, 176, 0.1490196078);
  box-shadow: 0px 0px 2px 2px rgba(194, 230, 176, 0.1490196078);
  border: 1px solid rgba(14, 226, 21, 0.4470588235);
}
@media screen and (min-width: 1200px) {
  .develo-eco__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.26em;
  }
  .develo-eco__title:hover, .develo-eco__title:focus {
    font-size: 17px;
    border-radius: 5px;
  }
}

.impact-title__box {
  z-index: 3;
  margin-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .impact-title__box {
    height: 35px;
    margin-bottom: 0;
    margin-left: 680px;
    padding: 5px;
    width: 360px;
  }
}

.impact-title {
  font-weight: 300;
  font-size: 11px;
  line-height: 1.86;
  letter-spacing: 0.26em;
}
.impact-title:hover, .impact-title:focus {
  font-size: 12px;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: 2px 2px 0px 0px rgba(194, 230, 176, 0.1490196078);
  box-shadow: 0px 0px 2px 2px rgba(194, 230, 176, 0.1490196078);
  border: 1px solid rgba(14, 226, 21, 0.4470588235);
}
@media screen and (min-width: 1200px) {
  .impact-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.26em;
  }
  .impact-title:hover, .impact-title:focus {
    font-size: 17px;
  }
}

.develo-eco__list {
  justify-content: center;
  display: block;
}
@media screen and (min-width: 1200px) {
  .develo-eco__list {
    margin-top: -100px;
    margin-bottom: 100px;
  }
}

.develo-eco__content {
  display: flexbox;
  margin-bottom: 100px;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .develo-eco__content {
    margin-bottom: 0;
    width: 420px;
    height: 150px;
  }
}

.develo-eco__content2 {
  display: block;
}
@media screen and (min-width: 1200px) {
  .develo-eco__content2 {
    margin-top: 150px;
    width: 435px;
  }
}

.impact__content {
  display: block;
}
@media screen and (min-width: 1200px) {
  .impact__content {
    width: 600px;
    height: 130px;
    margin-left: 501px;
    margin-top: -185px;
  }
}

.impact__content2 {
  display: block;
}
@media screen and (min-width: 1200px) {
  .impact__content2 {
    height: 130px;
    width: 500px;
    margin-top: 150px;
    margin-bottom: 150px;
    padding-left: 0px;
    margin-left: 487px;
  }
}

.impact__content3 {
  display: block;
}
@media screen and (min-width: 1200px) {
  .impact__content3 {
    margin-left: 340px;
    margin-bottom: 150px;
    width: 500px;
  }
}

.impact__content4 {
  display: block;
}
@media screen and (min-width: 1200px) {
  .impact__content4 {
    margin-left: 210px;
    width: 500px;
    height: 110px;
    margin-bottom: 160px;
  }
}

.impact__content5 {
  display: block;
}
@media screen and (min-width: 1200px) {
  .impact__content5 {
    margin-left: 75px;
    width: 500px;
    height: 165px;
    margin-bottom: 50px;
  }
}

.impact-title2__box {
  margin-bottom: 50px;
  padding: 10px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .impact-title2__box {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 100px;
  }
}

.impact-title2 {
  text-align: center;
  white-space: pre-wrap;
  font-weight: 300;
  font-size: 11px;
  line-height: 1.86;
  letter-spacing: 0.26em;
  margin-bottom: 50px;
}
.impact-title2:hover, .impact-title2:focus {
  font-size: 13px;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: 2px 2px 0px 0px rgba(194, 230, 176, 0.1490196078);
  box-shadow: 0px 0px 2px 2px rgba(194, 230, 176, 0.1490196078);
  border: 1px solid rgba(14, 226, 21, 0.4470588235);
}
@media screen and (min-width: 1200px) {
  .impact-title2 {
    display: block;
    text-align: right;
    font-size: 16px;
  }
  .impact-title2:hover, .impact-title2:focus {
    font-size: 17px;
  }
}

.develo-eco__svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1), opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.develo-eco:hover .develo-eco__svg, .develo-eco:focus .develo-eco__svg {
  transform: translateY(-50%);
}
@media screen and (min-width: 1200px) {
  .develo-eco__svg {
    margin-right: 0;
    margin-left: 150px;
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1), opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .develo-eco:hover .develo-eco__svg, .develo-eco:focus .develo-eco__svg {
    transform: translateY(-150%);
  }
}

.impact__svg {
  display: block;
}
@media screen and (min-width: 1200px) {
  .impact__svg {
    margin-left: 290px;
  }
  .develo-eco:hover .impact__svg, .develo-eco:focus .impact__svg {
    transform: translateY(-130%);
  }
}

.impact__svg2 {
  display: block;
}
@media screen and (min-width: 1200px) {
  .impact__svg2 {
    margin-left: 175px;
  }
}

.cards__overlay {
  color: black;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  position: absolute;
  opacity: 0;
  transform: translateY(50%);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1), opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.develo-eco:hover .cards__overlay, .develo-eco:focus .cards__overlay {
  transform: translateY(0);
  opacity: 1;
}
@media screen and (min-width: 1200px) {
  .cards__overlay {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.develo-eco__art {
  text-align: left;
  margin-right: 40px;
  font-size: 11px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  white-space: pre-wrap;
  color: black;
}
.develo-eco__content:hover .develo-eco__art, .develo-eco__content:focus .develo-eco__art {
  color: #3FA9F5;
}
@media screen and (min-width: 1200px) {
  .develo-eco__art {
    margin-right: 0px;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .impact__art {
    max-width: 470px;
    margin-left: 130px;
  }
}

@media screen and (min-width: 1200px) {
  .impact__art2 {
    max-width: 470px;
    margin-left: 0px;
    padding-left: 30px;
  }
}/*# sourceMappingURL=mine.css.map */