// animation 


.box-dirigible {
   display: flex;
   justify-content: right;
   // width: 1600px;
   // height: 150px;
   position: absolute;
   margin: 100px 0 0;
   animation: moveLeftToRight 80s linear infinite normal;
   // animation-timing-function: cubic-bezier(.38, .4, .64, .39);
   // animation-delay: 5s;
   // .section-card:hover &,
   // .section-card:focus & {
   //    animation-play-state: paused;
   // }
}

.gif-dirigible {
   // overflow: hidden;
   z-index: 2;
   width: 150px;
   height: 50px;



   @media screen and (min-width: 1200px) {
      width: 200px;
      height: 150px;

   }
}


@keyframes moveLeftToRight {
   0% {
      transform: translatex(60vw);
   }

   100% {
      transform: translatex(-60vw);
   }
}


.container__anime {
   display: flex;
   width: auto;
   height: 500px;
   padding: 80px 0 0;
   margin: 0 -15px;
   justify-content: center;
   align-items: top;
   position: relative;
   // flex-wrap: wrap;
   overflow: hidden;
   min-width: 270px;

   @media screen and (min-width: 768px) {
      // width: 100px;
      height: 450px;
      margin: 0 -145px;

   }

   @media screen and (min-width: 1200px) {
      // width: 1600px;
      height: 450px;
      margin: 0 -215px;

   }
}





.anime-day {
   display: flex;
   position: absolute;
   height: 300px;
   width: 400px;
   justify-content: space-evenly;
   margin: 0px 0 0 0px;
   animation: moveDaynight 40s linear infinite normal;
   animation-timing-function: cubic-bezier(.29, .73, 1, -0.18);


   @media screen and (min-width: 1200px) {
      width: 700px;

   }

}


@keyframes moveDaynight {
   0% {
      transform: translatex(150vw);
   }

   100% {
      transform: translatex(-300vw);
   }
}


.svg-cloudy__anime {
   // position: absolute;
   margin: 0px 0 0;
   width: 100px;

   @media screen and (min-width: 1200px) {
      width: 200px;

   }

   // animation-timing-function: cubic-bezier(0, .82, 1, .12);
}


.svg-sun__box {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   margin: 0px 0 0;
   height: 150px;
   animation-name: spin;
   animation-duration: 15s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   // animation-timing-function: cubic-bezier(.01, .7, .64, .39);

}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(-360deg);
   }
}


.svg-sun__anime {
   position: absolute;
   // margin: 30px 0 0;
   border-radius: 50px;
   width: 75px;
   height: 75px;
   fill: #fcfc1f;
   // animation-name: ;
   animation: changeLight 40s linear infinite normal;
   animation-timing-function: cubic-bezier(.21, .53, 1, -0.42);
   // box-shadow:
   //    0 0 20px 5px #f26a02,
   //    0 0 60px 45px #faf881, 0 0 60px 25px #f6ff0063,
   //    0 0 40px 15px #f6ff00,
   // ;
   stroke-width: 0.3px;
   // stroke: rgb(255, 238, 0);
}

@keyframes changeLight {

   0% {
      box-shadow:
         0 0 20px 5px #f26a02,
      ;
   }


   25% {
      box-shadow:
         0 0 20px 5px #f26a02,
         0 0 60px 45px #faf881, 0 0 60px 25px #f6ff0063,
         0 0 40px 15px #f6ff00,
      ;
   }

   60% {
      box-shadow:
         0 0 20px 5px #f26a02,

      ;
   }

   100% {
      box-shadow:
         0 0 20px 5px #f26a02,

      ;
   }
}





.svg-sunny__anime {
   position: absolute;
   margin: 0px 0 0;
   width: 150px;
   height: 150px;
   // box-shadow:

   //    0 0 100px 30px #fcf802, 0 0 40px 10px #fc8702,
   // ;
   stroke-width: 0.1px;
   // stroke: rgb(255, 238, 0);
}


.anime-night {
   display: flex;
   position: relative;
   justify-content: center;
   align-items: center;
   width: 300px;
   height: 200px;
   transform: translateX(200vw);
   animation: moveDaynight 40s linear infinite normal;
   animation-timing-function: cubic-bezier(.29, .73, 1, -0.18);
   animation-delay: 20s;

   @media screen and (min-width: 1200px) {
      width: 700px;

   }
}

.svg-moon__anime {
   position: absolute;
   margin: 0px 0 0;
   border-radius: 40px;
   // width: 60px;
   // height: 80px;
   width: 80px;
   height: 80px;
   stroke-width: 0.1px;
   stroke: #ff5500;

   animation: changeMoonLight 40s linear infinite normal;
   animation-timing-function: cubic-bezier(.21, .53, 1, -0.42);
   animation-delay: 20s;
   // box-shadow: inset 0 0 70px 5px #e7fc0249, inset 0 0 30px 10px #d2fc0294,
   //    0 0 30px 10px #e7fc0274, 0 0 100px 30px #d2fc02c9;
   // animation-timing-function: cubic-bezier(0, .82, 1, .12);
}


@keyframes changeMoonLight {

   0% {
      box-shadow:
         inset 0 0 70px 5px #e7fc0249,
         inset 0 0 30px 10px #d2fc0294,
         0 0 30px 10px #e7fc0298,
      ;
   }


   25% {
      box-shadow: inset 0 0 70px 5px #e7fc0249,
         inset 0 0 40px 20px #d2fc0294,
         0 0 30px 10px #e7fc0274,
         0 0 100px 30px #d2fc02fe;
   }

   60% {
      box-shadow: inset 0 0 70px 5px #e7fc0249,
         inset 0 0 30px 10px #d2fc0294,
         0 0 30px 10px #e7fc02cd;
   }


   100% {
      box-shadow: inset 0 0 70px 5px #e7fc0249,
         inset 0 0 30px 10px #d2fc0294,

      ;
   }
}




.svg-stars__anime {
   position: absolute;
   margin: 0px 0 0;
   width: 350px;
   // height: 80px;
   stroke-width: 0.5px;
   stroke: rgb(255, 238, 0);

   @media screen and (min-width: 1200px) {
      width: 500px;

   }

   // animation-timing-function: cubic-bezier(0, .82, 1, .12);
}

// #circle {
//    // width: 20px;
//    // height: 20px;
//    // background: #fc0000;
//    // border: 3px solid #4c00ff;
//    // border-radius: 5px;
//    fill: #fce300;
//    stroke-width: 2;
//    stroke: #fd9800;
//    box-shadow: 0px 0px 20px 20px #fce301;
//    // transition-duration: 10s;
//    // animation-duration: 10s;

//    .history-section:hover &,
//    .history-section:focus & {
//       animation-play-state: paused;
//    }
// }


// #semicircle {
//    animation-delay: 10s;

//    top: 0px;
//    stroke: #FFA500;
//    stroke-width: 0;
//    fill: #FFD700;
//    // transform: translate(-80% -80%);
// }