

.cards__link {
   text-decoration: none;
   display: flex;
   // z-index: 1;
   justify-content: center;
   align-items: center;
   transition-duration: 0.5s;

   // .cards__item:hover &,
   // .cards__item:focus & {
   //    transform: translateY(5px);
      
   //    // position: calc(100vw - 50px);
   // }

   // @media screen and (min-width: 1200px) {

   //    .cards__item:hover &,
   //    .cards__item:focus & {
   //       transform: translateY(10px);
   //       // transform: translateX(calc(0vw - 100px));
   //    }
   // }
}





.cards__thumb {
   display: flex;
   justify-content: center;
   align-items: center;
   // position: relative;
   // overflow: hidden;
   transition-duration: 1s;
   border: 6px solid #1e2650;
   margin: 1px 0 0;
   
   
   .cards__item:hover &,
   .cards__item:focus & {
      border-radius: 10px;
      border: 2px solid #ffffff;
      transform: scale(1.7);
      
   }
   @media screen and (min-width: 768px) {
      margin: 1px 0 0;
       border: 3px solid #1f243e;
            .cards__item:hover &,
             .cards__item:focus & {
               transform: scale(1.9);
               }
        }

}

.cards-photo {
   height: 120px;
      transition-duration: 1s;
   .cards__item:hover &,
   .cards__item:focus & {
      border-radius: 10px;
      // transform: translateY(10px);
      // transform: translateX(100%);
   }  

   @media screen and (min-width: 768px) {
      height: 160px;
   }

   // @media screen and (min-width: 1200px) {
   //    height: 160px;
   //    // width: 90%;
   // }
}




.history-cards__overlay {
   display: flex;
   align-items: center;
   position: absolute;
   width: 100%;
   height: 100%;
   border-radius: 10px;
   overflow: hidden;

}


.cards__alert {
   position: absolute;
   display: flex;
   text-align: center;
   align-items: center;

   height: 100%;
   padding: 10px 8px;
   background-color: #982ae0b4;
   
   font-weight: 400;
   font-size: 8px;
   line-height: 1.1;
   letter-spacing: 0.004em;
   word-spacing: 0.1px;

   color: $White-color;
// font-family: "Metal", serif;
font-family: "Sail", system-ui;
// font-style: italic;
   text-shadow: 1px 0px 1px #000000,
   0px 1px 0px #000000;
      transform: translatex(-105%);
      transition-duration: 1s;
      opacity: 0;
      
      .history-cards__overlay:hover &,
      .history-cards__overlay:focus & {
      border-radius: 10px;
      transform: translatex(0%);
      opacity: 1;
   }

   @media screen and (min-width: 768px) {
 
      padding: 10px 10px;
      font-size: 9.5px;

   }

   @media screen and (min-width: 1200px) {
      font-size: 10px;
      padding: 10px 20px;
   }

}



.cards__content {
   display: flex;
   position: absolute;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   text-align: center;

   width: 100%;
   // height: 160px;
   height: 70%;
// margin: 1px 0 0;
   padding: 0px 0px;
   border-radius: 10px;


   background: #094ba8b9;
   transition-duration: 3s;
   opacity: 1;

   // .section-card:hover &,
   // .section-card:focus & {
   //    background: #002d6bb9;
   // }

   .cards__item:hover &,
   .cards__item:focus & {
      transition-duration: 0.1s;

      background: #aeabab00;

   }
}

.cards__title {
   text-wrap: wrap;
   user-select: none;
   font-weight: 200;
   font-size: 8px;
   line-height: 1;
   letter-spacing: 0.03em;
   color: $histor-color-text;
font-family: "Audiowide", serif;
   // font-family: "Wallpoet", sans-serif;
// font-family: "Teko", sans-serif;
   // text-shadow: 2px 2px 10px #000000, 3px 3px 3px #000000;
   transition-duration: 3s;
   z-index: 2;

   .section-card:hover &,
   .section-card:focus & {
      transition-duration: 0.5s;
      opacity: 0.2;
   }

   .cards__item:hover &,
   .cards__item:focus & {
      opacity: 0;
      transition-duration: 0.1s;
   }

   margin: -1px 0 0px;

   @media screen and (min-width: 768px) {
      margin: -2px 0 0px;
      font-size: 9px;
   }

   @media screen and (min-width: 1200px) {
      margin: -5px 0 0;
      font-size: 9px;

   }
}

.cards__text {
   user-select: none;
   font-size: 7px;
   line-height: 1;
   letter-spacing: 0,03em;
font-weight: 200;
   color: $prim-histor-text;
font-family: "Audiowide", serif;
   // font-family: "Wallpoet", sans-serif;
   // text-shadow: 2px 2px 10px #000000, 3px 3px 3px #000000;
   transition-duration: 3s;
   z-index: 2;

   .section-card:hover &,
   .section-card:focus & {
      transition-duration: 0.5s;
      opacity: 0.2;
   }

   .cards__item:hover &,
   .cards__item:focus & {
      opacity: 0;
      transition-duration: 0.1s;
   }

   // margin: 0px 0 0px;
   margin: 0px 0 0px;
   
   @media screen and (min-width: 768px) {
      font-size: 8px;
      margin: 0px 0 -3px;
   }
   
   @media screen and (min-width: 1200px) {
      
      margin: 0px 0 -4px;
      font-size: 8px;

   }
}






.section-card {
   display: flex;
   // justify-content: center;
   overflow: hidden;
   padding: 15px 0 15px;
   margin: 0 0px 5px;
   width: calc(100% + 30px);
   // transform: translateX(-15px);
   // transition-duration: 1s;

   @media screen and (min-width: 768px) {
      overflow: visible;
      margin: 0 0 50px;
      padding: 0;
      width: 1024px;
      // transform: translateX(-143px);
   }

   @media screen and (min-width: 1200px) {
      width: 1600px;
      margin: 0 0 50px;
      // transform: translateX(-215px);
      // height: auto;
   }
}
@keyframes moveRightToLeftMobil {

   0% {
      transform: translateX(565px);
   }

   100% {

      transform: translateX(calc(-565px));
   }
}

@keyframes moveRightToLeftLeptop{

   0% {
      transform: translateX(70.5%);
   }

   100% {

      transform: translateX(calc(-70.5%));
   }
}

@keyframes moveRightToLeft {

   0% {
      transform: translateX(705px);
   }

   100% {

      transform: translateX(calc(-800px));
   }
}




.cards {
   display: flex;
   justify-content: center;
   padding: 0px;
   margin: 0;
   // width: calc(260vw);
   // animation-timing-function: ease-out;
   animation: moveRightToLeftMobil 15s linear infinite;

   &:hover,
   &:focus {
      animation-play-state: paused;
      transition: all 1s ease-in;
   }

   @media screen and (min-width: 768px) {
      animation: moveRightToLeftLeptop 20s linear infinite;
      
      justify-content: center;
      
   }
   
   @media screen and (min-width: 1200px) {
      // width: 1600px;
     
      animation: moveRightToLeft 20s linear infinite;
   }
}

.cards__item {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-shrink: 0;

   transition-duration: 1s;
   position: relative;

   // padding: 35px 5px 45px;
   padding: 0;
   height: 180px;
   z-index: -1;
   transition-duration: 3s;

   &:hover,
   &:focus {
      transition-duration: 0.5s;
      z-index: 1;

   }
   @media screen and (min-width: 768px) {
      // padding: 30px 0px 30px;
      padding: 0;
      height: 220px;
   }

   @media screen and (min-width: 1200px) {
      // padding: 50px 0px 50px;
      padding: 0 5px;
      height: 220px;
      // height: 340px;
      // width: 350px;
   }
}



.cadr-svg {
   position: absolute;
   pointer-events: none;
   // fill: #1f243e89;
   fill: #1e2650;
   width: 102%;
   height: 100%;
   transition-duration: 2s;
// margin: -1px 0 0;
   z-index: 1;

   .cards__item:hover &,
   .cards__item:focus & {
      transition-duration: 0.5s;
      z-index: -1;

   }

   // .section-card:hover &,
   // .section-card:focus & {
   //    fill: #1f243e;

   // }


}