//   < !-- home -->


.develo-eco-line {
// margin-top: 145px;
z-index: 4;

   // @media screen and (min-width: 360px) {
   // margin-top: 80px;
   // }
   // @media screen and (min-width: 1200px) {
   // margin-top: 10px;
   // }
}


.develo-eco___decor1 {
   // width: 215px;

   border: 2px solid $line-color;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);

.develo-eco__content:hover &,
.develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   }

@media screen and (min-width: 1200px) {
   margin-left: -10px;
   width: 425px;
   
}}

.develo-eco___decor2 {
margin-top: -451px;
height: 451px; 
width: 2px;
// margin-left: 40px;
// margin-left: 5px;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   border: 2px solid $line-color;
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   }
@media screen and (min-width: 360px) {
margin-top: -387px;
   height: 387px;
}

@media screen and (min-width: 1200px) {
   margin-top: -219px;
   height: 219px;
   margin-left: 415px;
}
}

.develo-eco___decor3 {
      // @media screen and (min-width: 360px) {
@media screen and (min-width: 1200px) {
      border: 2px solid $line-color;
      box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
      box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
      }   
      margin-top: -219px;
      width: 165px;
      margin-left: 415px;
   }

}


// < !-- man-laptop -->

.develo-eco___decor4 {
   border: 2px solid $line-color;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }

      @media screen and (min-width: 1200px) {
   margin-left: -10px;
   width: 440px;

}}

.develo-eco___decor5 {

   margin-top: -789px;
   height: 789px;
   width: 2px;
   border: 2px solid $line-color;
   box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
      box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
}
@media screen and (min-width: 360px) {
   margin-top: -758px;
   height: 758px;
}
   @media screen and (min-width: 1200px) {
   margin-top: -514px;
   margin-left: 428px;
   height: 514px;
   
}}

.develo-eco___decor6 {

   margin-top: -789px;
   width: 5px;
   border: 2px solid $line-color;
   box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
      box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   }
   @media screen and (min-width: 360px) {
margin-top: -758px;

}
   @media screen and (min-width: 1200px) {
   margin-top: -514px;
   width: 155px;
   
   margin-left: 428px;

}}

// < !-- oil -->

// .oil-line {
// margin-top: 140px;
//    @media screen and (min-width: 360px) {
//    margin-top: 90px;
//    }  
//    @media screen and (min-width: 1200px) {
//       margin-top: 80px;
//       z-index: 2;
//    }
// }

.develo-eco___decor7 {
   // width: 220px;
   border: 2px solid $line-color;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   }
   @media screen and (min-width: 1200px) {
   width: 610px;
}}

.develo-eco___decor8 {
   width: 2px;
   height: 1156px;
   margin-top: -1156px;
   border: 2px solid $line-color;
   box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
      box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   }
   @media screen and (min-width: 360px) {
   margin-top: -1106px;
   height: 1106px;
}
   @media screen and (min-width: 1200px) {
   margin-top: -456px;
   height: 456px;

}}

.develo-eco___decor9 {
 margin-top: -1156px;
width: 10px;
   border: 2px solid $line-color;
   box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
      box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   }
   @media screen and (min-width: 360px) {
   margin-top: -1106px;
}
   @media screen and (min-width: 1200px) {
   margin-top: -456px;
   width: 60px;
   margin-left: 0px;

}}

// < !-- ocean -->

// .ocean-line {
//    margin-top: 100px;
//    @media screen and (min-width: 360px) {
//    margin-top: 65px;
//    }

//    @media screen and (min-width: 1200px) {
//       margin-top: 70px;
//       z-index: 2;
//    }
// }

.develo-eco___decor10 {
   border: 2px solid $line-color;
   box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   }
   @media screen and (min-width: 1200px) {
   width: 500px;

}}

.develo-eco___decor11 {
   margin-top: -1459px;
   height: 1459px;
   width: 2px;
   border: 2px solid $line-color;
   box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   }
   @media screen and (min-width: 360px) {
   margin-top: -1424px;
   height: 1424px;
}
   @media screen and (min-width: 1200px) {
   margin-top: -741px;
   height: 741px;
}}

.develo-eco___decor12 {
margin-top: -1459px;
   width: 15px;
   border: 2px solid $line-color;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   }
@media screen and (min-width: 360px) {
   margin-top: -1424px;
}
   @media screen and (min-width: 1200px) {
   margin-top: -741px;
   width: 80px;
}}

      // < !-- factory -->
// .factory-line {
//    margin-top: 150px;
//    @media screen and (min-width: 360px) {
//    margin-top: 100px;
//    }
//    @media screen and (min-width: 1200px) {
//       margin-top: 90px;
//       z-index: 2;
//    }
// }

.develo-eco___decor14 {
margin-top: -1862px;
   height: 1862px;
   width: 2px;
   border: 2px solid $line-color;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   }
  @media screen and (min-width: 360px) {
     margin-top: -1812px;
     height: 1812px;
  }
   @media screen and (min-width: 1200px) {
   margin-top: -380px;
   height: 380px;
}}

.develo-eco___decor15 {
   margin-top: -1862px;
      width: 20px;
   border: 2px solid $line-color;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   }
  @media screen and (min-width: 360px) {
     margin-top: -1812px;
  }
   @media screen and (min-width: 1200px) {
   margin-top: -380px;
   width: 147px;
}}

.develo-eco___decor16 {
      @media screen and (min-width: 1200px) {
   margin-left: 147px;
   margin-top: -669px;
   height: 669px;
   width: 2px;
   border: 2px solid $line-color;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   }
}}

.develo-eco___decor17 {
      @media screen and (min-width: 1200px) {
   margin-left: 147px;
   margin-top: -669px;
   width: 100px;
   border: 2px solid $line-color;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   }
}}

      //  < !-- earth -->

// .earth-line {
//    margin-top: 80px;
//       @media screen and (min-width: 360px) {
//    margin-top: 50px;
//    }
//    @media screen and (min-width: 1200px) {
//       display: flexbox;
//       margin-top: 50px;
//       z-index: 2;
//    }
// }

.develo-eco___decor18 {
margin-top: -2144px;
   height: 2144px;
   width: 2px;
   border: 2px solid $line-color;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   }
@media screen and (min-width: 360px) {
   margin-top: -2115px;
   height: 2115px;
}
   @media screen and (min-width: 1200px) {
   margin-top: -690px;
   height: 690px;
}}

.develo-eco___decor19 {
   margin-top: -2144px;
width: 25px;
   border: 2px solid $line-color;
   box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
      box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   }
  @media screen and (min-width: 360px) {
     margin-top: -2115px;
  }
      @media screen and (min-width: 1200px) {
   margin-top: -690px;
   width: 264px;

}}

.develo-eco___decor20 {
      @media screen and (min-width: 1200px) {
   margin-left: 264px;
   margin-top: -624px;
   height: 624px;
   width: 2px;
   border: 2px solid $line-color;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   }
}}

.develo-eco___decor21 {
      @media screen and (min-width: 1200px) {
   margin-left: 264px;
   margin-top: -624px;
   width: 110px;
   border: 2px solid $line-color;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   }
}}

//   < !-- man 


// .impact-line__man {
// margin-top: 145px;
//    @media screen and (min-width: 360px) {
//    margin-top: 110px;
//    }
//    @media screen and (min-width: 1200px) {
//       display: flexbox;
//       margin-top: 100px;
//       z-index: 2;
//    }
// }

.develo-eco___decor22 {
margin-top: -2567px;
   height: 2567px;
   width: 2px;
   border: 2px solid $line-color;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
 }
   @media screen and (min-width: 360px) {
   margin-top: -2533px;
   height: 2533px;
}
      @media screen and (min-width: 1200px) {
   margin-top: -1070px;
   height: 1070px;
  
}}

.develo-eco___decor23 {
   margin-top: -2567px;
      width: 30px;
      border: 2px solid $line-color;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
 }
   @media screen and (min-width: 360px) {
   margin-top: -2533px;
}
   @media screen and (min-width: 1200px) {
   margin-top: -1070px;
   width: 381px;
  
}}

.develo-eco___decor24 {
         @media screen and (min-width: 1200px) {
   margin-left: 381px;
   margin-top: -578px;
   height: 578px;
   width: 2px;
   border: 2px solid $line-color;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   }
}}

.develo-eco___decor25 {
         @media screen and (min-width: 1200px) {
   margin-left: 381px;
   margin-top: -578px;
   width: 115px;
   border: 2px solid $line-color;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   }
}}