.develo-eco__line {

   margin-left: -40px;
   z-index: -1;

   @media screen and (min-width: 768px) {
      margin: 0;

   }
}

//   < !-- home -->

.develo-eco___decor1 {
   margin-left: 0px;
   border: 1px solid #0000ff25;
   width: 40px;

   transition-duration: 0.5s;

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      transition-duration: 1s;
      transition-timing-function: $anime-card-industry;
      border: 1px solid $primary-text-color;
      box-shadow: 0px 0px 3px 1px $primary-text-color;
      width: 100%;
   }

   @media screen and (min-width: 768px) {
      border: 2px solid #0000ff25;
      margin-left: 300px;
      width: 5px;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
         margin-left: 0;
         width: 102.5%;
      }

   }

   @media screen and (min-width: 1200px) {
      margin-left: 430px;
      width: 18px;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
         margin-left: 0;
         width: 103.5%;
      }
   }
}

.develo-eco___decor2 {
   margin-left: 0px;
   margin-top: -820px;
   height: 820px;
   width: 0.5px;
   box-shadow: 0;
   border: 1px solid $line-color;

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 360px) {
      margin-top: -728px;
      height: 728px;
   }

   @media screen and (min-width: 768px) {
      height: 507.5px;
      margin: -507.5px 0 0 305px;
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      height: 447px;
      margin: -447px 0 0 445px;
   }
}


.develo-eco___decor3 {
   margin-left: 0px;
   margin-top: -820px;
   width: 35px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px #593cea4d;
   z-index: -1;

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 360px) {
      margin-top: -728px;
   }

   @media screen and (min-width: 768px) {
      width: 60px;
      margin: -507.5px 0 0 305px;
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      width: 195px;
      margin: -447px 0 0 445px;
   }
}




// < !-- man-laptop -->
.develo-eco___decor4 {
   margin-left: 5px;
   border: 1px solid #0000ff25;
   width: 40px;
   transition-duration: 0.5s;

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      transition-duration: 1s;
      transition-timing-function: $anime-card-industry;
      border: 1px solid $primary-text-color;
      box-shadow: 0px 0px 3px 1px $primary-text-color;
      width: 99%;
   }

   @media screen and (min-width: 768px) {
      width: 13px;
      margin-left: 300px;
      // width: 315px;
      border: 2px solid #0000ff25;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
         width: 105%;
         margin-left: 0px;
      }
   }

   @media screen and (min-width: 1200px) {
      width: 15px;
      margin-left: 430px;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
         width: 104%;
         margin-left: 0px;
      }
   }
}

.develo-eco___decor5 {
   margin-left: 5px;
   margin-top: -1482px;
   height: 1482px;
   width: 0.5px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px #593cea4d;

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 360px) {
      margin-top: -1296.5px;
      height: 1296.5px;
   }

   @media screen and (min-width: 768px) {
      margin-top: -1000.5px;
      margin-left: 313px;
      height: 1000.5px;
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-top: -856px;
      margin-left: 445px;
      height: 856px;

   }
}

.develo-eco___decor6 {
   margin-left: 5px;
   margin-top: -1482px;
   width: 30px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px #593cea4d;
z-index: -1;
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 360px) {
      margin-top: -1296.5px;
   }

   @media screen and (min-width: 768px) {
      margin-left: 313px;
      margin-top: -1000.5px;
      width: 57px;
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-top: -856px;
      width: 190px;
      margin-left: 445px;
   }
}




// < !-- oil -->

.develo-eco___decor7 {
   margin-left: 10px;
   width: 35px;
   border: 1px solid #0000ff25;
   transition-duration: 0.5s;

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      transition-duration: 1s;
      transition-timing-function: $anime-card-industry;
      border: 1px solid $primary-text-color;
      box-shadow: 0px 0px 3px 1px $primary-text-color;
      width: 98%;
   }

   @media screen and (min-width: 768px) {
      margin-left: -40px;
      width: 40px;
      border: 2px solid #0000ff25;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
         width: 115%;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-left: -95px;
      width: 95px;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         width: 120%;
      }
   }
}



.develo-eco___decor8 {
   margin-left: 10px;
   width: 0.5px;
   height: 2329px;
   margin-top: -2329px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px #593cea4d;

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 360px) {
      margin-top: -2050px;
      height: 2050px;
   }

   @media screen and (min-width: 768px) {
      margin-top: -685px;
      height: 685px;
      margin-left: -43.5px;
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-top: -636px;
      height: 636px;
      margin-left: -95px;
   }
}

.develo-eco___decor9 {
   margin-left: 10px;
   margin-top: -2329px;
   width: 25px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px #593cea4d;

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 360px) {
      margin-top: -2050px;
   }

   @media screen and (min-width: 768px) {
      margin-left: -43.5px;
      margin-top: -685px;
      width: 13px;
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-top: -636px;
      width: 135px;
      margin-left: -95px;
   }
}






// < !-- ocean -->

.develo-eco___decor10 {
   margin-left: 15px;
   border: 1px solid #0000ff25;
   width: 30px;

   transition-duration: 0.5s;

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      transition-duration: 1s;
      transition-timing-function: $anime-card-industry;
      border: 1px solid $primary-text-color;
      box-shadow: 0px 0px 3px 1px $primary-text-color;
      width: 97%;
   }

   @media screen and (min-width: 768px) {
      margin-left: 0;
      border: 2px solid #0000ff25;
      width: 1px;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
         width: 100%;
      }
   }
}

.develo-eco___decor11 {
   margin-left: 15px;
   margin-top: -2990px;
   height: 2990px;
   width: 0.5px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px #593cea4d;

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 360px) {
      margin-top: -2618px;
      height: 2618px;
   }

   @media screen and (min-width: 768px) {
      margin-left: 0;
      margin-top: -1172px;
      height: 1172px;
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-top: -1037px;
      height: 1037px;
   }
}

.develo-eco___decor12 {
   margin-left: 15px;
   margin-top: -2990px;
   width: 20px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px #593cea4d;

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 360px) {
      margin-top: -2618px;
   }

   @media screen and (min-width: 768px) {
      margin-top: -1172px;
      width: 28px;
      margin-left: 0;
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-top: -1037px;
      width: 150px;
   }
}




// < !-- factory -->

.develo-eco___decor14 {
   margin-left: 20px;
   width: 20px;
   border: 1px solid #0000ff25;
   transition-duration: 0.5s;

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      transition-duration: 1s;
      transition-timing-function: $anime-card-industry;
      border: 1px solid $primary-text-color;
      box-shadow: 0px 0px 3px 1px $primary-text-color;
      width: 96%;
   }

   @media screen and (min-width: 768px) {
      width: 1px;
      margin-left: 0px;
      border: 2px solid #0000ff25;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
         width: 100%;
      }
   }
}


.develo-eco___decor15 {
   margin-left: 20px;
   margin-top: -3652px;
   height: 3652px;
   width: 0.5px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px #593cea4d;

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 360px) {
      margin-top: -3186px;
      height: 3186px;
   }

   @media screen and (min-width: 768px) {
      margin-top: -551px;
      height: 551px;
      margin-left: 0px;
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-top: -455px;
      height: 455px;
      margin-left: 0px;

   }
}

.develo-eco___decor16 {
   margin-left: 20px;
   margin-top: -3652px;
   width: 15px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px #593cea4d;

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 360px) {
      margin-top: -3186px;
   }

   @media screen and (min-width: 768px) {
      margin-top: -551px;
      width: 27px;
      margin-left: 0px;
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-top: -455px;
      width: 90px;
      margin-left: 0px;
   }
}


.develo-eco___decor17 {
   display: none;

   @media screen and (min-width: 768px) {
      display: block;
      margin-left: 27px;
      margin-top: -1112px;
      height: 1112px;
      width: 2px;
      border: 2px solid $line-color;
      box-shadow: 0px 0px 3px 3px #593cea4d;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-left: 90px;
      margin-top: -986px;
      height: 986px;
   }
}

.develo-eco___decor18 {
   display: none;

   @media screen and (min-width: 768px) {
      display: block;

      margin-left: 27px;
      margin-top: -1112px;
      width: 43px;
      // border-radius: 5px;
      border: 2px solid $line-color;
      box-shadow: 0px 0px 3px 3px #593cea4d;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-left: 90px;
      margin-top: -986.5px;
      width: 165px;
   }
}


//  < !-- earth -->

.develo-eco___decor19 {
   margin-left: 25px;
   border: 1px solid #0000ff25;
   width: 15px;
   transition-duration: 0.5s;

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      transition-duration: 1s;
      transition-timing-function: $anime-card-industry;
      border: 1px solid $primary-text-color;
      box-shadow: 0px 0px 3px 1px $primary-text-color;
      width: 95%;
   }

   @media screen and (min-width: 768px) {
      margin-left: 0px;
      border: 2px solid #0000ff25;
      width: 1px;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
         width: 100%;
      }
   }
}

.develo-eco___decor20 {
   margin-left: 25px;
   margin-top: -4315px;
   height: 4315px;
   width: 0.5px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px #593cea4d;

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 360px) {
      margin-top: -3754px;
      height: 3754px;
   }

   @media screen and (min-width: 768px) {
      margin-top: -1060px;
      height: 1060px;
      margin-left: 0px;
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-top: -890px;
      height: 890px;
      margin-left: 0px;
   }
}

.develo-eco___decor21 {
   margin-left: 25px;
   margin-top: -4315px;
   width: 10px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px #593cea4d;

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 360px) {
      margin-top: -3754px;
   }

   @media screen and (min-width: 768px) {
      margin-top: -1060px;
      width: 53px;
      margin-left: 0px;
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-top: -890px;
      width: 183px;
      margin-left: 0px;
   }
}

.develo-eco___decor22 {
   @media screen and (min-width: 768px) {
      margin-left: 53px;
      margin-top: -1090px;
      height: 1090px;
      width: 2px;
      border: 2px solid $line-color;
      box-shadow: 0px 0px 3px 3px #593cea4d;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-left: 180px;
      margin-top: -952px;
      height: 952px;
   }
}

.develo-eco___decor23 {

   @media screen and (min-width: 768px) {
      margin-left: 53px;
      margin-top: -1090px;
      width: 50px;
      border: 2px solid $line-color;
      box-shadow: 0px 0px 3px 3px #593cea4d;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-left: 180px;
      margin-top: -952.5px;
      width: 180px;
   }
}



//   < !-- man 

.develo-eco___decor24 {
   margin-left: 30px;
   border: 1px solid #0000ff25;
   width: 10px;
   transition-duration: 0.5s;

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      transition-duration: 1s;
      transition-timing-function: $anime-card-industry;
      border: 1px solid $primary-text-color;
      box-shadow: 0px 0px 3px 1px $primary-text-color;
      width: 94%;
   }

   @media screen and (min-width: 768px) {
      margin-left: 0px;
      border: 2px solid #0000ff25;
      width: 1px;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
         width: 100%;
      }
   }
}


.develo-eco___decor25 {

   margin-left: 30px;

   margin-top: -4977px;
   height: 4977px;
   width: 0.5px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px #593cea4d;

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 360px) {
      margin-top: -4322px;
      height: 4322px;
   }

   @media screen and (min-width: 768px) {
      margin-top: -1570px;
      height: 1570px;
      margin-left: 0px;
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-top: -1325px;
      height: 1325px;
      margin-left: 0px;
   }
}



.develo-eco___decor26 {

   margin-left: 30px;

   margin-top: -4977px;
   width: 5px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px #593cea4d;

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 360px) {
      margin-top: -4322px;
   }

   @media screen and (min-width: 768px) {
      margin-top: -1570px;
      width: 80px;
      margin-left: 0px;
      border: 2px solid $line-color;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-top: -1325px;
      width: 273px;
      margin-left: 0px;
   }
}



.develo-eco___decor27 {
   @media screen and (min-width: 768px) {

      margin-left: 80px;
      margin-top: -1067px;
      height: 1067px;

      width: 2px;
      border: 2px solid $line-color;
      box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
      box-shadow: 0px 0px 3px 3px #593cea4d;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-left: 270px;
      margin-top: -918px;
      height: 918px;

   }
}

.develo-eco___decor28 {

   @media screen and (min-width: 768px) {
      margin-left: 80px;
      margin-top: -1067px;
      width: 53px;

      border: 2px solid $line-color;
      box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
      box-shadow: 0px 0px 3px 3px #593cea4d;

      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 2px solid $primary-text-color;
      }
   }

   @media screen and (min-width: 1200px) {
      margin-left: 270px;
      margin-top: -918.5px;
      width: 185px;
   }
}