

.develo-eco__line {
z-index: 1;
margin-left: -40px;
   @media screen and (min-width: 1200px) {
   margin: 0 0 0 0;
   
   }
}

//   < !-- home -->

.develo-eco___decor1 {
   margin-left: 0px;
   // width: 215px;
   border: 1px solid $line-color;
box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
transition: border $animation;

.develo-eco__content:hover &,
.develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

@media screen and (min-width: 768px) {
     border: 2px solid $line-color;
.develo-eco__content:hover &,
.develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   } 
   
}

@media screen and (min-width: 1200px) {
   margin-left: 20px;
   width: 425px;

   
}}

.develo-eco___decor2 {
   margin-left: 0px;
margin-top: -660px;
height: 660px; 
width: 0.5px;

box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
transition: border $animation;
   border: 1px solid $line-color;
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }
@media screen and (min-width: 360px) {
margin-top: -605px;
   height: 605px;
}

@media screen and (min-width: 768px) {
     border: 2px solid $line-color;
.develo-eco__content:hover &,
.develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   } 
}
@media screen and (min-width: 1200px) {

   height: 422px;
   margin: -422px 0 0 445px;
   
}
}

.develo-eco___decor3 {
   margin-left: 0px;
   margin-top: -660px;
   width: 35px;
      
            border: 1px solid $line-color;
            transition: border $animation;
         
            box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
            .develo-eco__content:hover &,
            .develo-eco__content:focus & {
            border: 1px solid $primary-text-color;
            }   
@media screen and (min-width: 360px) {
   margin-top: -605px;
}
@media screen and (min-width: 768px) {
     border: 2px solid $line-color;
.develo-eco__content:hover &,
.develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   } 
}
@media screen and (min-width: 1200px) {
      
   
      width: 195px;
         margin: -422px 0 0 445px;
   }

}




// < !-- man-laptop -->

.develo-eco___decor4 {
   transition: border $animation;
margin-left: 5px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 1px solid $primary-text-color;
      }

      @media screen and (min-width: 768px) {
     border: 2px solid $line-color;
.develo-eco__content:hover &,
.develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   } 
}
      @media screen and (min-width: 1200px) {
   margin-left: 20px;
   width: 425px;

}}

.develo-eco___decor5 {
   transition: border $animation;
margin-left: 5px;
   margin-top: -1163px;
   height: 1163px;
   width: 0.5px;
   border: 1px solid $line-color;
      box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
      .develo-eco__content:hover &,
      .develo-eco__content:focus & {
         border: 1px solid $primary-text-color;
}
@media screen and (min-width: 360px) {
   margin-top: -1043px;
   height: 1043px;
}
@media screen and (min-width: 768px) {
     border: 2px solid $line-color;
.develo-eco__content:hover &,
.develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   } 
}
   @media screen and (min-width: 1200px) {
   margin-top: -831px;
   margin-left: 445px;
   height: 831px;
   
}}

.develo-eco___decor6 {
   transition: border $animation;
   margin-left: 5px;
border-radius: 5px;
   margin-top: -1163px;
   width: 30px;
   border: 1px solid $line-color;
  
      box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }
   @media screen and (min-width: 360px) {
margin-top: -1043px;

}

@media screen and (min-width: 768px) {
     border: 2px solid $line-color;
.develo-eco__content:hover &,
.develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   } 
}
   @media screen and (min-width: 1200px) {
   margin-top: -831px;
   width: 190px;
   
   margin-left: 445px;

}}




// < !-- oil -->

.develo-eco___decor7 {
   transition: border $animation;
   margin-left: 10px;
   // margin-top: -10px;
   // width: 220px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 768px) {
     border: 2px solid $line-color;
.develo-eco__content:hover &,
.develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   } 
}
   @media screen and (min-width: 1200px) {
   margin-left: -95px;
   width: 585px;
}}

.develo-eco___decor8 {
   transition: border $animation;

   margin-left: 10px;
   width: 0.5px;
   height: 1841px;
   margin-top: -1841px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }
   @media screen and (min-width: 360px) {
   margin-top: -1656px;
   height: 1656px;
}

@media screen and (min-width: 768px) {
     border: 2px solid $line-color;
.develo-eco__content:hover &,
.develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   } 
}
   @media screen and (min-width: 1200px) {
   margin-top: -636px;
   height: 636px;
      margin-left: -95px;

}}

.develo-eco___decor9 {
   transition: border $animation;

   margin-left: 10px;
 margin-top: -1841px;
width: 25px;
   border: 1px solid $line-color;

   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }
   @media screen and (min-width: 360px) {
   margin-top: -1656px;
}

@media screen and (min-width: 768px) {
     border: 2px solid $line-color;
.develo-eco__content:hover &,
.develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   } 
}
   @media screen and (min-width: 1200px) {
   margin-top: -636px;
   width: 135px;
   margin-left: 0px;
   margin-left: -95px;
}}






// < !-- ocean -->

.develo-eco___decor10 {
   transition: border $animation;
   margin-left: 15px;
   
         border: 1px solid $line-color;
      box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 768px) {
     border: 2px solid $line-color;
.develo-eco__content:hover &,
.develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   } 
}
   @media screen and (min-width: 1200px) {
   width: 520px;
   margin-left: 0px;

}}

.develo-eco___decor11 {
   transition: border $animation;
   margin-left: 15px;
   margin-top: -2344px;
   height: 2344px;
   width: 0.5px;
   
      border: 1px solid $line-color;
      box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }
   @media screen and (min-width: 360px) {
   margin-top: -2094px;
   height: 2094px;
}

@media screen and (min-width: 768px) {
     border: 2px solid $line-color;
.develo-eco__content:hover &,
.develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   } 
}
   @media screen and (min-width: 1200px) {
   margin-top: -1037px;
   height: 1037px;
   margin-left: 0px;
}}

.develo-eco___decor12 {
   transition: border $animation;
   margin-left: 15px;

margin-top: -2344px;
   width: 20px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }
@media screen and (min-width: 360px) {
   margin-top: -2094px;
}

@media screen and (min-width: 768px) {
     border: 2px solid $line-color;
.develo-eco__content:hover &,
.develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   } 
}
   @media screen and (min-width: 1200px) {
   margin-top: -1037px;
   width: 150px;
   margin-left: 0px;
}}






      // < !-- factory -->
.develo-eco___decor14 {
   transition: border $animation;
   margin-left: 20px;
   // border-radius: 5px;
   
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);

   .develo-eco__content:hover &,
   .develo-eco__content:focus &{
      border: 1px solid $primary-text-color;
   }

   @media screen and (min-width: 768px) {
     border: 2px solid $line-color;
.develo-eco__content:hover &,
.develo-eco__content:focus &{
      border: 2px solid $primary-text-color;
   } 
}
   @media screen and (min-width: 1200px) {
      width: 520px;
      margin-left: 0px;

   }
}


.develo-eco___decor15 {
   transition: border $animation;
   // border-radius: 5px;
margin-left: 20px;
margin-top: -2847px;
   height: 2847px;
   width: 0.5px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus &{
      border: 1px solid $primary-text-color;
   }
  @media screen and (min-width: 360px) {
     margin-top: -2532px;
     height: 2532px;
  }
  
  @media screen and (min-width: 768px) {
     border: 2px solid $line-color;
.develo-eco__content:hover &,
.develo-eco__content:focus &{
      border: 2px solid $primary-text-color;
   } 
}
  
   @media screen and (min-width: 1200px) {
   margin-top: -455px;
   height: 455px;
   margin-left: 0px;
   
}}

.develo-eco___decor16 {
   transition: border $animation;
   // border-radius: 5px;
   margin-left: 20px;
   margin-top: -2847px;
      width: 15px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }
  @media screen and (min-width: 360px) {
     margin-top: -2532px;
  }
 
  @media screen and (min-width: 768px) {
     border: 2px solid $line-color;
.develo-eco__content:hover &,
.develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   } 
}
  
   @media screen and (min-width: 1200px) {
   margin-top: -455px;
   width: 90px;
   margin-left: 0px;
}}


.develo-eco___decor17 {
   display: none;
   @media screen and (min-width: 768px) {
      display:block;
      transition: border $animation;
// border-radius: 5px;
   width: 2px;
   border: 2px solid $line-color;

   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   }
}
@media screen and (min-width: 1200px) {
      margin-left:90px;
   margin-top: -986px;
   height: 986px;
}
}

.develo-eco___decor18 {
   display: none;
   @media screen and (min-width: 768px) {
   display: block;
      transition: border $animation;
      // border-radius: 5px;
width: 5px;
   border: 2px solid $line-color;
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   }
}
@media screen and (min-width: 1200px) {
      margin-left:90px;
   margin-top: -986px;
   width: 165px;
}
}


      //  < !-- earth -->
.develo-eco___decor19 {
   transition: border $animation;
   margin-left: 25px;

   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }
    @media screen and (min-width: 768px) {
     border: 2px solid $line-color;

     .develo-eco__content:hover &,
     .develo-eco__content:focus & {
        border: 2px solid $primary-text-color;
     }
  }

   @media screen and (min-width: 1200px) {
      width: 520px;
      margin-left: 0px;

   }
}

.develo-eco___decor20 {
   margin-left: 25px;
   transition: border $animation;

margin-top: -3350px;
   height: 3350px;
   width: 0.5px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }
@media screen and (min-width: 360px) {
   margin-top: -2970px;
   height: 2970px;
}
 @media screen and (min-width: 768px) {
     border: 2px solid $line-color;

     .develo-eco__content:hover &,
     .develo-eco__content:focus & {
        border: 2px solid $primary-text-color;
     }
  }
   @media screen and (min-width: 1200px) {
   margin-top: -890px;
   height: 890px;
   margin-left: 0px;
}}

.develo-eco___decor21 {
   transition: border $animation;
   margin-left: 25px;

   margin-top: -3350px;
width: 10px;
   border: 1px solid $line-color;
      box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
   }
  @media screen and (min-width: 360px) {
     margin-top: -2970px;
  }
  @media screen and (min-width: 768px) {
     border: 2px solid $line-color;

     .develo-eco__content:hover &,
     .develo-eco__content:focus & {
        border: 2px solid $primary-text-color;
     }
  }
      @media screen and (min-width: 1200px) {
   margin-top: -890px;
   width: 183px;
margin-left: 0px;
}}

.develo-eco___decor22 {
   
   @media screen and (min-width: 768px) {
         transition: border $animation;

   width: 2px;
   border: 2px solid $line-color;
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   }
}
@media screen and (min-width: 1200px) {
      margin-left: 180px;
   margin-top: -952px;
   height: 952px;
}
}

.develo-eco___decor23 {
   
   @media screen and (min-width: 768px) {
         transition: border $animation;
width: 5px;
   border: 2px solid $line-color;
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   }
}
@media screen and (min-width: 1200px) {
      margin-left: 180px;
   margin-top: -952px;
   width: 180px;
}
}



//   < !-- man 

.develo-eco___decor24 {
   transition: border $animation;
margin-left: 30px;

      border: 1px solid $line-color;
         box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
      
         .develo-eco__content:hover &,
         .develo-eco__content:focus & {
            border: 1px solid $primary-text-color;
         }

  @media screen and (min-width: 768px) {
     border: 2px solid $line-color;

     .develo-eco__content:hover &,
     .develo-eco__content:focus & {
        border: 2px solid $primary-text-color;
     }
  }                                                                                                                                                                                       
   @media screen and (min-width: 1200px) {
   margin-left: 0px;
      width: 520px;

   }}


.develo-eco___decor25 {
   transition: border $animation;
   margin-left: 30px;

margin-top: -3853px;
   height: 3853px;
   width: 0.5px;
   border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
 }
   @media screen and (min-width: 360px) {
   margin-top: -3408px;
   height: 3408px;
}

  @media screen and (min-width: 768px) {
     border: 2px solid $line-color;

     .develo-eco__content:hover &,
     .develo-eco__content:focus & {
        border: 2px solid $primary-text-color;
     }
   }

      @media screen and (min-width: 1200px) {
   margin-top: -1325px;
   height: 1325px;
margin-left: 0px;
}}

.develo-eco___decor26 {
   transition: border $animation;
   margin-left: 30px;

   margin-top: -3853px;
      width:5px;
      border: 1px solid $line-color;
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 1px solid $primary-text-color;
 }
   @media screen and (min-width: 360px) {
   margin-top: -3408px;
}
  @media screen and (min-width: 768px) {
     border: 2px solid $line-color;

     .develo-eco__content:hover &,
     .develo-eco__content:focus & {
        border: 2px solid $primary-text-color;
     }
   }
   @media screen and (min-width: 1200px) {
   margin-top: -1325px;
   width: 273px;
margin-left: 0px;
}}



.develo-eco___decor27 {
   @media screen and (min-width: 768px) {
            transition: border $animation;
         
  
   width: 2px;
   border: 2px solid $line-color;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   }
}
@media screen and (min-width: 1200px) {
 margin-left: 270px;
   margin-top: -918px;
   height: 918px;

}
}

.develo-eco___decor28 {
   
   
   @media screen and (min-width: 768px) {
            transition: border $animation;
width: 5px;
   border: 2px solid $line-color;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.3);
   box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.3);
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      border: 2px solid $primary-text-color;
   }
}
 @media screen and (min-width: 1200px) {
  margin-left: 270px;
   margin-top: -918px;
   width: 185px;
}
}