.develo-eco__svg {
display: block;
margin: auto;
//  margin-bottom: 30px;
transition: transform $animation-card, opacity $animation-card;
   .develo-eco:hover &,
   .develo-eco:focus & {
  
      transform: translateY(-100%);
   }

   @media screen and (min-width: 1200px) {
   // width: 50%;

   margin-left: 150px;
   transition: transform $animation-card, opacity $animation-card;

   .develo-eco:hover &,
   .develo-eco:focus & {
      transform: translateY(-150%);
   }

   // .develo-eco__content:hover &,
   // .develo-eco__content:focus &{
   //    width: 100%;
   // }

   }
}

.impact__svg {

   display: block;
   
      @media screen and (min-width: 1200px) {
   margin-left: 290px;

   .develo-eco:hover &,
   .develo-eco:focus & {
      transform: translateY(-140%);
   }
}
}

.impact__svg2 {

   display: block;
   
      @media screen and (min-width: 1200px) {
   margin-left: 175px;
      }
}

.cards__overlay {

   display: block;
   padding-left: 10px;
   padding-right: 10px;
      overflow: hidden;
            // display: flex;
      position: absolute;
      opacity: 0;

transform: translateY(10%);
      transition: transform $animation-card, opacity $animation-card;

.develo-eco:hover &,
   .develo-eco:focus & {
      transform: translateY(0);
      opacity: 1;
      color: black
   }


         @media screen and (min-width: 1200px) {
   overflow: hidden;
   display: flex;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
   transform: translateY(10%);
   transition: transform $animation-card, opacity $animation-card;
// background-color: $Accent;
   .develo-eco:hover &,
   .develo-eco:focus & {
      transform: translateY(0);
      opacity: 1;
      color: black
   }
         }
}

.develo-eco__art {
   display: block;
            font-size: 11px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            
  .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      color: $Secondary-text-color;
      //  background-color: rgba(207, 149, 23, 0.553);
   }
   
      @media screen and (min-width: 1200px) {
   max-width: 385px;
   color: black;
   white-space: pre-wrap;
   font-size: 13px;
   line-height: 1.5;
   letter-spacing: 0.02em;

 
}
}

.impact__art {
display: block;
   @media screen and (min-width: 1200px) {
   max-width: 470px;
   margin-left: 130px;
}
}

.impact__art2 {

   display: block;
   
      @media screen and (min-width: 1200px) {
   max-width: 470px;
   margin-left: 0px;
   padding-left: 30px;
      }
}


.impact-title2__box {

   display: block;
     padding: 5px; 
      @media screen and (min-width: 1200px) {
   text-align: center;

   margin-top: 50px;
   margin-bottom: 50px;
   // margin-left: 220px;
   width: 1200px;
   height: 100px;
   margin-left: auto;
   margin-right: auto;
      }
}

