    // < !--dev-eco-->

    .section-bg {
      position: relative;
      z-index: 2;
      border-radius: 5px;
      padding: 90px 3px 100px 3px;
      margin-bottom: 40px;
      // background-color: $section-color__desktop;

      // background-position: center;
      // background-size: cover;
      background-image: linear-gradient(to bottom,

          #7769d4b8 0.01%,

          #210545d2 0.15%,
          #19013bd9 25%,
          #13002ef5 99.7%,

          #000000cc 3%);

      // #5e0101b7 0.1%,
      // #460117c6 6%,
      // #00020eb5 99%);
      @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        padding: 0px 20px 100px;
      }

      @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: wrap;
        padding: 0px 40px 100px;

      }
    }


    .develo-eco {
      display: block;
      padding: 0px 5px 0px 30px;
      margin-bottom: 190px;



      @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        height: 900px;
      }

      @media screen and (min-width: 1200px) {
        padding: 0;
        height: 700px;
      }
    }


    .develo-eco__box {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 35px;
      margin: 0 10% 70px 10%;
      padding: 5px 10px;
      // height: 45px;
      border-radius: 5px;
      // width: 80%;
      transition-duration: $animation-head;
      border-bottom: 1px solid $Secondary-text-color;

      .develo-eco:hover &,
      .develo-eco:focus & {
        // width: 95%;
        transform: scale(1.05);
        box-shadow: 0px 1px 4px 0px $Secondary-text-color;
        background-color: rgba(63, 104, 240, 0.14);
      }

      @media screen and (min-width: 768px) {
        margin: -210px 0 190px 0;
        padding: 5px 10px;
      }

      @media screen and (min-width: 1200px) {
        margin: -190px 0 245px 0px;

      }

    }

    .develo-eco__title {
      padding: 2px;
      user-select: none;
      color: $Secondary-text-color;
      transition-duration: $animation-head;

      text-shadow: 1px 1px 4px black;
      font-weight: 300;
      font-size: 10px;
      line-height: 1.46;
      letter-spacing: 0.26em;
      text-transform: uppercase;

      .develo-eco:hover &,
      .develo-eco:focus & {
        // transform: scale(1.05);
        color: $svg-color;
      }

      @media screen and (min-width: 768px) {}

      @media screen and (min-width: 1200px) {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.86;
        letter-spacing: 0.26em;

        // .develo-eco:hover &,
        //   .develo-eco:focus & {
        //     transform: scale(1.05);
        //   }
      }
    }

    .develo-eco__list {
      display: block;
      // @media screen and (min-width: 1200px) {

      // }
    }



    .develo-eco__content {

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-bottom: 120px;
      position: relative;
      height: 380px;
      border-bottom: 1.8px solid #0000ff25;
      box-shadow: 0px 0px 3px -3px rgb(89, 60, 234);

      @media screen and (min-width: 350px) {
        height: 315px;
      }

      @media screen and (min-width: 768px) {
        width: 300px;
        height: 390px;
        margin-bottom: 100px;
        border-bottom: 3.5px solid #0000ff25;

        &:nth-child(-n+2) .cards__overlay {
          border-radius: 10px 0 0 0;
          margin-left: 0px;
        }
      }

      @media screen and (min-width: 1200px) {
        margin: 0 0 155px 0;
        width: 430px;
        height: 250px;

        &:first-child .cards__overlay {
          margin-left: 0px;
        }


      }
    }

    // .visual-content__home {
    //   position: absolute;
    //   z-index: -1;
    //   border-radius: 10px;
    //   width: 270px;
    //   height: 160px;
    //   // transform: translate(-125px, -120px);
    //   background-position: bottom;
    //   background-size: cover;
    //   opacity: 0.2;
    //   background-image: url(../img/develo-eco/home.png);

    //   @media screen and (min-width: 1200px) {
    //     transform: translate(50px, -110px);
    //     width: 600px;
    //     height: 250px;
    //   }
    // }




    .laptop-content {
      margin-bottom: 0;

      @media screen and (min-width: 1200px) {
        margin-left: 10px;

      }
    }

    // .visual-content__leptop {
    //   position: absolute;
    //   z-index: -1;
    //   border-radius: 10px;
    //   width: 270px;
    //   height: 160px;
    //   // transform: translate(-125px, -120px);
    //   background-position: bottom;
    //   background-size: cover;
    //   opacity: 0.2;
    //   background-image: url(../img/develo-eco/leptop.png);

    //   @media screen and (min-width: 1200px) {
    //     transform: translate(-100px, -110px);
    //     width: 600px;
    //     height: 250px;
    //   }
    // }




    // < !-- .impact-section -->

    .impact-section {
      display: block;

      margin-bottom: 0px;
      padding: 0px 5px 0px 30px;

      @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto 0px auto;
        padding: 70px 0px 0px 0px;
        // width: 50%;
      }

      @media screen and (min-width: 1200px) {
        padding: 75px 0px 0px 0px;
        margin-bottom: 0px;

      }
    }


    .impact-title__box {
      margin: 0 10% 70px 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 5px 10px;
      height: 35px;
      border-radius: 5px;
      transition-duration: $animation-head;
      border-bottom: 1px solid $Secondary-text-color;

      .impact-section:hover &,
      .impact-section:focus & {
        transform: scale(1.05);
        box-shadow: 0px 1px 4px 0px $Secondary-text-color;
        background-color: rgba(63, 104, 240, 0.14);
      }

      @media screen and (min-width: 768px) {
        //  width: 195px;
        margin: 0 0 70px 70px;
        padding: 5px 20px;
        // .impact-section:hover &,
        // .impact-section:focus &{
        //        width: 215px;
        //      }

      }

      @media screen and (min-width: 1200px) {
        // width: 50%;
        // height: 45px;
        margin: 0 0 145px 140px;
        // .impact-section:hover &,
        //   .impact-section:focus & {
        //     width: 55%;
        //     box-shadow: 0px 1px 4px 0px $Secondary-text-color;
        //     background-color: rgba(63, 104, 240, 0.14);
        //   }

      }
    }

    .impact-title {
      // margin: 0 auto;
      padding: 2px;
      text-transform: uppercase;
      user-select: none;
      color: $Secondary-text-color;
      font-weight: 300;
      font-size: 10px;
      line-height: 1.46;
      letter-spacing: 0.26em;
      text-shadow: 1px 1px 4px black;
      transition-duration: $animation-head;

      .impact-section:hover &,
      .impact-section:focus & {
        // font-size: 11px;
        color: $svg-color;
      }

      @media screen and (min-width: 1200px) {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.86;
        letter-spacing: 0.26em;

        // .impact-section:hover &,
        //   .impact-section:focus & {
        //     font-size: 14.5px;
        //   }
      }
    }


    .impact__list {
      display: block;
      margin-bottom: 0px;

    }








    .oil-content {
      @media screen and (min-width: 768px) {
        margin-left: 95px;

        &:first-child .cards__overlay {
          border-radius: 0 10px 0 0;
        }
      }

      @media screen and (min-width: 1200px) {

        width: 490px;
        margin-left: 160px;

      }
    }

    .visual-content {
      position: absolute;
      z-index: -1;
      border-radius: 10px;
      width: 270px;
      height: 400px;
      margin: 0 0 50px;
      // transform: translate(-125px, -120px);
      background-position: bottom;
      background-size: cover;
      opacity: 0.4;
      background-image: url(../img/develo-eco/oil.png);

      @media screen and (min-width: 768px) {
        transform: translate(-175px, -50px);
        width: 400px;
        height: 300px;
      }

      @media screen and (min-width: 1200px) {
        transform: translate(-175px, -40px);
        width: 600px;
        height: 300px;
      }
    }




    .ocean-content {
      @media screen and (min-width: 768px) {
        margin-left: 43.5px;

        &:nth-child(2) .cards__overlay {
          border-radius: 0 10px 0 0;
          margin-left: 20px;
        }
      }

      @media screen and (min-width: 1200px) {
        width: 520px;
        margin-top: 150px;
        margin-left: 55px;

      }
    }



    .visual-content__ocean {
      position: absolute;
      z-index: -1;
      border-radius: 10px;
      width: 270px;
      height: 400px;
      // transform: translate(-125px, -120px);
      background-position: bottom;
      background-size: cover;
      opacity: 0.2;
      background-image: url(../img/develo-eco/ocean.png);

      @media screen and (min-width: 768px) {
        transform: translate(-175px, -50px);
        width: 400px;
        height: 300px;
      }

      @media screen and (min-width: 1200px) {
        transform: translate(-150px, -40px);
        width: 600px;
        height: 300px;
      }
    }

    .factory-content {
      @media screen and (min-width: 768px) {
        margin-left: 8.5px;
      }

      @media screen and (min-width: 1200px) {
        margin-left: -45px;
        width: 520px;
      }
    }

    .visual-content__factory {
      position: absolute;
      z-index: -1;
      border-radius: 10px;
      width: 270px;
      height: 400px;
      // transform: translate(-125px, -120px);
      background-position: top;
      background-size: cover;
      opacity: 0.3;
      background-image: url(../img/develo-eco/factory.png);

      @media screen and (min-width: 768px) {
        transform: translate(-175px, -50px);
        width: 400px;
        height: 300px;
      }

      @media screen and (min-width: 1200px) {
        transform: translate(-150px, -40px);
        width: 600px;
        height: 300px;
      }
    }

    .earth-content {
      @media screen and (min-width: 768px) {
        margin-left: -25.5px;
      }

      @media screen and (min-width: 1200px) {
        margin-left: -145px;
        width: 520px;
      }
    }



    .visual-content__earth {
      position: absolute;
      z-index: -1;
      border-radius: 10px;
      width: 270px;
      height: 400px;
      // transform: translate(-125px, -120px);
      background-position: bottom;
      background-size: cover;
      opacity: 0.2;
      background-image: url(../img/develo-eco/earth.png);

      @media screen and (min-width: 768px) {
        transform: translate(-175px, -50px);
        width: 400px;
        height: 300px;
      }

      @media screen and (min-width: 1200px) {
        transform: translate(-150px, -40px);
        width: 600px;
        height: 300px;
      }
    }

    .man-content {
      margin-bottom: 0px;

      @media screen and (min-width: 768px) {
        margin-left: -60.5px;
      }


      @media screen and (min-width: 1200px) {
        margin-left: -245px;
        width: 520px;
        margin-bottom: 0px;
      }
    }


    .visual-content__men {
      position: absolute;
      z-index: -1;
      border-radius: 10px;
      width: 270px;
      height: 400px;
      // transform: translate(-125px, -120px);
      background-position: top;
      background-size: cover;
      opacity: 0.2;
      background-image: url(../img/develo-eco/men.png);

      @media screen and (min-width: 768px) {
        transform: translate(-175px, -50px);
        width: 400px;
        height: 300px;
      }

      @media screen and (min-width: 1200px) {
        transform: translate(-150px, -40px);
        width: 600px;
        height: 300px;
      }
    }