    // < !--dev-eco-->

    .section-bg{
    // background: $section-color;
    border-radius: 5px;
padding: 90px 3px 0px 3px;
background-color: $section-color__desktop;

@media screen and (min-width: 1200px) {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 40px 0px 40px;

    }
  }


  .develo-eco {
    display: block;
padding: 0px 5px 0px 30px;
margin-bottom: 180px;

      @media screen and (min-width: 1200px) {
        display: flex;
        // flex-wrap: wrap;
        flex-direction: column;
        align-items:center;
// margin: 0 auto;
  
        padding: 0px 0 0 0;
    
      }
    }

    
    .develo-eco__box {
      // display: block;
      display: flex;
      align-items: center;
      margin: 0 auto 70px auto;
      padding: 5px 15px;
      text-align: center;
      height: 45px;
      border-radius: 10px;
        width: 80%;
      transition-duration: $animation-head;
      border-bottom: 1px solid $Secondary-text-color;
      
      .develo-eco:hover &,
      .develo-eco:focus &{
        width: 90%;
        // margin-left: 45px;
        box-shadow: 0px 1px 4px 0px $Secondary-text-color;
        background-color: rgba(63, 104, 240, 0.14);
      }
      
      
      @media screen and (min-width: 1200px) {
        width: 90%;
        transform: translateY(-190px);
        height: 45px;
        margin: 0 0 50px 0px;
        // width: 420px;
        padding: 5px;
            .develo-eco:hover &,
              .develo-eco:focus & {
                width: 95%;
              }
      }
      
    }
    
    .develo-eco__title {
      margin-left: auto;
      margin-right: auto;

      user-select: none;
      color: $Secondary-text-color;
transition-duration: $animation-head;

text-shadow: 1px 1px 4px black;
      font-weight: 300;
      font-size: 10px;
      line-height: 1.86;
      letter-spacing: 0.26em;
      text-transform: uppercase;
      
      .develo-eco:hover &,
        .develo-eco:focus & {
        font-size: 12px;
        color: $svg-color;
      }
      
      @media screen and (min-width: 1200px) {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.86;
        letter-spacing: 0.26em;
        
      .develo-eco:hover &,
        .develo-eco:focus & {
          font-size: 15px;
        }
      }
    }
    
    .develo-eco__list {
      display: block;
      margin-bottom: 0px;
// margin: 0 10px;
      @media screen and (min-width: 1200px) {
        padding-top: 0px;
        margin-bottom: 0px;
      }
    }

 
    
    .develo-eco__content {
      display: flex;
          flex-direction: column;
            justify-content: flex-end;
      // flex-wrap: wrap;
      // align-self: flex-end;
      // align-items: ;
      
      // margin-left: 35px;
      margin-bottom: 120px;
      position: relative;
      height: 380px;
      
      
      @media screen and (min-width: 350px) {
        height: 315px;
        }
        
        @media screen and (min-width: 1200px) {

          // flex-wrap: nowrap;
     
        margin: 0 0 155px 0;
        width: 430px;
        height: 250px;


      }
    }

    .laptop-content {
      margin-bottom: 0;

      @media screen and (min-width: 1200px) {
        margin-left: 10px;

      }
    }




    .impact-section{
display: block;

margin-bottom: 200px;
    padding: 0px 5px 0px 30px;


  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    align-items: center;

  margin-bottom: 150px;
    padding: 80px 0px 0px 0px;
    
  }
}


.impact-title__box {
    display: flex;
      align-items: center;
      margin: 0 auto 70px auto;

  text-align: center;
  height: 45px;
  border-radius: 10px;
width: 80%;
  transition-duration: $animation-head;
  border-bottom: 1px solid $Secondary-text-color;

  .impact-section:hover &,
  .impact-section:focus &{
    width: 90%;
    box-shadow: 0px 1px 4px 0px $Secondary-text-color;
    background-color: rgba(63, 104, 240, 0.14);
  }

  @media screen and (min-width: 1200px) {
  width: 55%;
    height: 45px;
    // margin-left: 30%;
    // margin-bottom: 250px;
margin: 0 0 160px 140px;
.impact-section:hover &,
  .impact-section:focus & {
    width: 60%;
    box-shadow: 0px 1px 4px 0px $Secondary-text-color;
    background-color: rgba(63, 104, 240, 0.14);
  }

  }
}

.impact-title {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
text-transform: uppercase;
  user-select: none;
  color: $Secondary-text-color;
  font-weight: 300;
  font-size: 10px;
  line-height: 1.86;
  letter-spacing: 0.26em;
text-shadow: 1px 1px 4px black;
transition-duration: $animation-head;

  .impact-section:hover &,
  .impact-section:focus &{
    font-size: 12px;
    color: $svg-color;
  }

  @media screen and (min-width: 1200px) {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.26em;

  .impact-section:hover &,
    .impact-section:focus & {
      font-size: 15px;
    }
  }
}


.impact__list {
  display: block;
  margin-bottom: 0px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
  }
}




    .oil-content {
      @media screen and (min-width: 1200px) {

        width: 490px;
        margin-left: 160px;

      }
    }

    .ocean-content {
      @media screen and (min-width: 1200px) {
        width: 520px;
        margin-top: 150px;
        margin-left: 55px;
       
      }
    }

    .factory-content {
      @media screen and (min-width: 1200px) {
        margin-left: -45px;
        width: 520px;
      }
    }

    .earth-content {
      @media screen and (min-width: 1200px) {
        margin-left: -145px;
        width: 520px;
      }
    }

    .man-content {
      margin-bottom: 0px;

      @media screen and (min-width: 1200px) {
        margin-left: -245px;
        width: 520px;
        margin-bottom: 0px;
      }
    }