.svg-box {
   width: 120px;
   display: flex;
   justify-content: center;
   margin: 0 auto;
   transition-duration: $animation-head;

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {

      transform: scale(1.03);
   }
}


.develo-eco__svg {
   display: flexbox;
   fill: $Secondary-text-color;
   margin: 0 0 10px 0;
   // transition: transform $animation-card, opacity $animation-card;
   transition-duration: $animation-head;

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      fill: $svg-color;
      // fill: #00ff55;
   }

}

.eco__svg {
   display: flexbox;
   fill: $Secondary-text-color;
   transition-duration: $animation-head;

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      // 00641e
      fill: #005c2e;
      fill: #85fbff;
   }
}

.eco__svg-home {
   margin-left: -70px;
}


.eco__svg-imp {
   margin-left: -120px;

}






.cards__overlay {
   margin: 0;
   display: flex;
   align-items: center;
   align-self: flex-end;
   flex-wrap: wrap;
   justify-content: center;
   overflow: hidden;
   transition-duration: $animation-head;
   box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.185);
   height: 1%;
   border-radius: 0 10px 0 0;


   .develo-eco:hover &,
   .develo-eco:focus & {
      height: 70%;
   }

   .impact-section:hover &,
   .impact-section:focus & {
      height: 70%;

   }

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      background-color: #f4c0d113;
      box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.12),
         0px 0px 4px rgba(0, 0, 0, 0.06), 1px -1px 6px rgba(0, 0, 0, 0.16);
      transform: scale(1.01);
   }

   @media screen and (min-width: 768px) {
      margin-left: 20px;

   }

   @media screen and (min-width: 1200px) {
      margin-left: 20px;
   }
}


.develo-eco__art {
   padding: 10px;
   text-align: center;
   user-select: none;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 11px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   // white-space: pre-wrap;
   color: $Secondary-text-color;
   text-shadow: 1px 1.5px 1px black;
   transition-duration: 0.5s;

   font-style: italic;

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      color: $svg-color;
      transform: scale(1.01);

      // background-color: rgba(207, 149, 23, 0.553);
   }

   @media screen and (min-width: 768px) {
      text-align: left;
      font-size: 12.9px;
      line-height: 1.5;
      letter-spacing: 0.02em;

      //    .develo-eco__content:hover &,
      //       .develo-eco__content:focus & {
      //          font-size: 13px;
      //          padding: 8.2px;
      // }
   }
}