.svg-box {
   width: 120px;
   display: flex;
   justify-content: center;
   margin: 0 auto 0px;
   z-index: 1;
   perspective: 500px;

   // opacity: 0;

   transition-duration: 0.2s;
   // .develo-eco:hover &,
   //    .develo-eco:focus & {
   //         transform: scale(1.2);
   //       }

   //       .impact-section:hover &,
   //       .impact-section:focus & {

   //       }
   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      transition-timing-function: $anime-card-svg;
      transform: scale(1.2);
   }
}

.develo-eco__svg {
   display: flexbox;
   fill: $Secondary-text-color;
   margin: 0 0 20px 0;
   // transition: transform $animation-card, opacity $animation-card;
   // transform: translateY(70px);
   // transition-duration: 0.1s;

   // .develo-eco:hover &,
   // .develo-eco:focus & {
   //    transition-duration: 0.5s;
   //    transform: translateY(0px);
   // }

   // .impact-section:hover &,
   // .impact-section:focus & {
   //    transition-duration: 0.5s;
   //    transform: translateY(0px);

   // }
   transition-duration: 0.5s;
   transform: rotateX(-50deg);
   transform-style: preserve-3d;

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      transition-timing-function: $anime-card-svg;
      transition-duration: 1.8s;
      fill: $svg-color;
      transform: rotateX(0deg);

   }

}

.eco__svg {
   display: flexbox;
   fill: $Secondary-text-color;
   // transform: translateY(70px);
   // transition-duration: 0.1s;

   // .develo-eco:hover &,
   // .develo-eco:focus & {
   //    transition-duration: 0.5s;
   //    transform: translateY(0px);
   // }

   // .impact-section:hover &,
   // .impact-section:focus & {
   //    transition-duration: 0.5s;
   //    transform: translateY(0px);

   // }
   transition-duration: 0.5s;
   transform: rotateX(-50deg);
   transform-style: preserve-3d;

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      transition-duration: 1.8s;

      transition-timing-function: $anime-card-svg;
      fill: #85fbff;
      transform: rotateX(0deg);
   }
}

.eco__svg-imp {
   margin-left: -120px;
   stroke-width: 0;

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      transition-duration: 1.8s;
      stroke-width: 0.4px;
      transition-timing-function: $anime-card-svg;
      stroke: $primary-text-color;
   }
}





.cards__overlay {
   display: flex;

   align-self: flex-end;
   overflow: hidden;

   // box-shadow: 0px -1px 1px #0000002f;
   height: 0.01%;
   border-radius: 0 10px 0 0;
   transition-duration: 0.5s;
   perspective: 2000px;

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      // box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.12),
      transition-duration: 1s;
      transition-timing-function: $anime-card-industry;
      // transform: scale(1.04);
      height: 70%;

   }

   @media screen and (min-width: 768px) {
      perspective: 1000px;

   }

   @media screen and (min-width: 1200px) {
      margin-left: 10px;
   }
}


.develo-eco__art {
   // transform: translateY(100%);
   user-select: none;
   padding: 10px 7px;
   text-align: center;
   
   text-indent: 20px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-style: italic;
   font-size: 12px;
   font-weight: 400;
   line-height: 1.5;
   letter-spacing: 0.02em;

   // white-space: pre;

   color: $Secondary-text-color;
   text-shadow: 0px 1px 1px black,
      1px 0.5px 2px black;

   transition-duration: 0.5s;
   transform: rotateX(-50deg);
   transform-style: preserve-3d;

   .develo-eco__content:hover &,
   .develo-eco__content:focus & {
      color: $svg-color;
      // text-shadow: 1px 1.5px 1px black,
      //    1px 0.5px 2px black;
      transform: rotateX(0deg);
      transition-duration: 1s;
      transition-timing-function: $anime-card-industry;
   }

   @media screen and (min-width: 768px) {
      padding: 5px 30px ;
      text-align: left;
      font-weight: bolder;
      font-size: 12px;
      line-height: 1.6;
      letter-spacing: 0.04em;

   }
}

.develo-eco__art::first-letter {
   font-family: 'Tahoma', serif;
   font-weight: 400;
   font-size: 16px;
   color: #11ff60;
   letter-spacing: 0.08em;

}