// < !-- disclosure -->

.discl{
   display: flexbox;
   background-size:cover;
   background-position: center;
   background-attachment:scroll;
   background-image: linear-gradient(to right, rgba(16, 27, 38, 0.914),
         rgba(1, 29, 31, 0.923)),
   url("../img/bg-discl/bg.jpg");

   max-width: 1200px;
   height: 2250px;
   margin-left: auto;
   margin-right: auto;
 
}

.discl-hero{
      padding-top: 150px;
   padding-bottom: 150px;
   width: 900px;
   margin-left: auto;
   margin-right: auto;
}

.discl-hero__heading{
   text-align: center;
   text-transform: uppercase;
   padding: 5px;
   height: 50px;
font-weight: 600;
font-size: 20px;
line-height: 1.86;
letter-spacing: 0.26em;
text-shadow: 2px 1px 10px black;
color: $svg-color;

// &:hover,
// &:focus{
//       font-size: 21px;
//       // border: 1px solid $primary-text-color;
// }

}

      // < !--dev-eco-->
            
.develo-eco{
   margin-left: auto;
   margin-right: auto;
   display: flex;
   flex-wrap: wrap;
   width: 1120px;
}

.develo-eco__title {
   height: 40px;
   padding: 5px;
   margin-right: 715px;
   margin-left: 55px;
   margin-bottom: 220px;
   font-weight: 600;
   font-size: 16px;
   line-height: 1.86;
   letter-spacing: 0.26em;

//    &:hover,
//       &:focus {
//          font-size: 18px;
//          // border: 1px solid $primary-text-color;
//       }
}

.hand-hero{
   margin-top: -219px;
   margin-left: 145px;
   display: flexbox;
   justify-content: right;
  height: 210px;
   max-width: 550px;
   z-index: 1;
 
   border: 3px solid #0000FF;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.5);
box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.5);
   &:hover,
   &:focus {
      border: 3px solid $primary-text-color;
      box-shadow: 3px 3px 0px 0px rgba(128, 215, 228, 0.5);
         box-shadow: 0px 0px 3px 3px rgba(109, 206, 239, 0.5);
      }
}



.impact-title {
margin-top: 50px;
margin-right: 80px;
   text-align: center;
   font-weight: 600;
   font-size: 16px;
   line-height: 1.86;
   letter-spacing: 0.26em;
}


.develo-eco__list{
   display: flex;
   flex-wrap:wrap;
}

.develo-eco__content{
   width: 420px;
   height: 150px;
   position: relative;
}

.develo-eco__content2{
   margin-top: -65px;
   width: 435px;
}

.impact__content {
   width: 600px;
   height: 130px;
   margin-left: 501px; 
   margin-top: 75px;
}

.impact__content2 {
   height: 130px;
   width: 500px;
   margin-top: 150px;
   margin-bottom: 150px;
   padding-left: 0px;
   margin-left: 52px;
}

.impact__content3 {
   margin-left: 340px;
margin-bottom: 150px;
width: 500px;

}

.impact__content4 {
   margin-left: 210px;
   width: 500px;
   height: 110px;
margin-bottom: 150px;
}

.impact__content5 {
   margin-left: 55px;
   width: 500px;
   height: 165px;
   margin-bottom: 150px;
}


.develo-eco__svg {
   margin-left: 150px;
   transition: transform $animation-card, opacity $animation-card;
   .develo-eco__content:hover &,
   .develo-eco__content:focus &{
      transform: translateY(-150%);
   }
}

.impact__svg {
   margin-left: 290px;
}

.impact__svg2 {
   margin-left: 175px;
}

.cards__overlay {
   overflow: hidden;
   display: flex;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
   transform: translateY(10%);
   transition: transform $animation-card, opacity $animation-card;
   // background-color: rgba(23, 207, 97, 0.553);
      // .develo-eco___line:hover &,
      // .develo-eco___line:focus &,
      .develo-eco__content:hover &,
      .develo-eco__content:focus &{
      transform: translateY(0);
      opacity: 1;
   }
}

.develo-eco__art{
   max-width: 385px;
         color: $Secondary-text-color;
         white-space: pre-wrap;
         // font-weight: 500;
         font-size: 13px;
         line-height: 1.5;
         letter-spacing: 0.02em;
      }    
      
.impact__art{
max-width: 470px;
    margin-left: 130px;
      }    

.impact__art2{
   max-width: 470px;
   margin-left: 0px;
   padding-left:30px;

}    

