// < !-- disclosure -->

.discl{
   display: flexbox;
   background-size:contain;
   background-position: center;
   background-attachment:scroll;
   background-image: linear-gradient(to right, rgba(16, 27, 38, 0.914),
         rgba(1, 29, 31, 0.923)),
   url("../img/bg-discl/bg.jpg");

   max-width: 1200px;
   height: 1990px;
   margin-left: auto;
   margin-right: auto;
 
}

.discl-hero__heading{
   text-align: center;
   text-transform: uppercase;
   padding-top: 150px;
   padding-bottom: 150px;

font-weight: 600;
font-size: 20px;
line-height: 1.86;
letter-spacing: 0.26em;
text-shadow: 2px 1px 10px black;
color: $svg-color;
}

            // < !--dev-eco-->
            
.develo-eco{
   margin-left: auto;
   margin-right: auto;
   display: flex;
   flex-wrap: wrap;
   width: 1120px;
}

.develo-eco__title {
   margin-left: 55px;
   margin-bottom: 220px;
   font-weight: 600;
   font-size: 16px;
   line-height: 1.86;
   letter-spacing: 0.26em;
}

.hand-hero{
   margin-top: -220px;
   margin-left: 145px;
   display: flexbox;
   justify-content: right;
   max-height: 210px;
   max-width: 550px;
   z-index: 1;
 
   border: 3px solid #0000FF;
box-shadow: 3px 3px 0px 0px rgba(89, 60, 234, 0.5);
box-shadow: 0px 0px 3px 3px rgba(89, 60, 234, 0.5);
   &:hover,
   &:focus {
      border: 3px solid $primary-text-color;
      box-shadow: 3px 3px 0px 0px rgba(128, 215, 228, 0.5);
         box-shadow: 0px 0px 3px 3px rgba(109, 206, 239, 0.5);
      }
}



.impact-title {
margin-top: 50px;
margin-right: 80px;
   text-align: center;
   font-weight: 600;
   font-size: 16px;
   line-height: 1.86;
   letter-spacing: 0.26em;
}


.develo-eco__list{
 display: flex;
flex-wrap:wrap ;
}

.develo-eco__content{
 width: 425px;
 height: 150px;
   position: relative;
   // margin-bottom: 180px;
}
.develo-eco__content2{
   margin-top: -65px;
}

.impact__content {
   margin-top: 75px;
   width: 600px;
 height: 170px;
   margin-left: 490px; 
}

// .impact__content2 {
//    margin-top: 160px;
//    max-width: 500px;
//    padding-left: 475px;
//    margin-bottom: 230px;
// }

// .impact__content3 {
//    margin-left: 340px;
// margin-bottom: 230px;
// }

// .impact__content4 {
//    margin-left: 190px;
// margin-bottom: 230px;
// }


.develo-eco__svg {
   margin-left: 150px;
   transition: transform $animation-card, opacity $animation-card;
   .develo-eco__content:hover &,
   .develo-eco__content:focus &{
      transform: translateY(-150%);
   }
}

.impact__svg {
   max-height: 90px;
   margin-left: 260px;
   // .develo-eco__content:hover &,
   // .develo-eco__content:focus & {
   //    transform: translateY(-150%);
   // }
}

// .impact__svg2 {
//    margin-left: 180px;
//    .develo-eco__content:hover &,
//    .develo-eco__content:focus & {
//       transform: translateY(-220%);
//    }
// }

// .impact__svg3 {
//    margin-left: 180px;

//    .develo-eco__content:hover &,
//    .develo-eco__content:focus & {
//       transform: translateY(-245%);
//    }
// }

.cards__overlay {
   
   overflow: hidden;
   display: flex;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
   transform: translateY(10%);
   transition: transform $animation-card, opacity $animation-card;
   background-color: rgba(2, 172, 206, 0.463);
      // .develo-eco___line:hover &,
      // .develo-eco___line:focus &,
      .develo-eco__content:hover &,
      .develo-eco__content:focus &{
      transform: translateY(0);
      opacity: 1;

   }
}

.develo-eco__art{
   max-width: 385px;
         color: $Secondary-text-color;
         white-space: pre-wrap;
         // font-weight: 500;
         font-size: 13px;
         line-height: 1.5;
         letter-spacing: 0.02em;
      }    
      
.impact__art{
   width: 470px;
    margin-left: 130px;
      // .develo-eco__content:hover &,
      // .develo-eco__content:focus & {
      //       margin-top: -130px;
      //    }
      }    

// .impact__art2{
//    max-width: 470px;
//    margin-left: 0px;
//    padding-left:30px;
//       .develo-eco__content:hover &,
//       .develo-eco__content:focus & {
//             margin-top: -125px;
//          }

// }    

// .impact__art3 {
//    max-width: 470px;
//    margin-left: 0px;
//    padding-left: 30px;
//          .develo-eco__content:hover &,
//             .develo-eco__content:focus & {
//                margin-top: -145px;
//             }
// }
