// < !-- Water -->

.hero-head {
	display: block;
	justify-content: center;
	margin: 0;
	padding-top: 100px;

	@media screen and (min-width: 650px) {
		// display: flex;
		padding: 0px;
	}

}


.hero-head__list {
	padding: 0;
}

.hero-head__water {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 35px 50px;
	transition-duration: 1s;

	// .hero-head:hover &,
	// .hero-head:focus & {
	// 	transition-duration: 0.5s;
	// 	animation-timing-function: $anime-card-industry;
	// 	transform: scalex(1.03);
	// }

	@media screen and (min-width: 350px) {
		margin: 30px 0 50px;
	}

	@media screen and (min-width: 650px) {
		margin-top: 130px;

	}

	@media screen and (min-width: 768px) {
		margin: 60px 0 60px;
	}

	@media screen and (min-width: 1200px) {
		margin: 70px 250px 30px;

	}
}




// < !-- Logo -->






.section-hero__logo {

	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0 450px;
	background-size: cover;
	position: relative;
	// object-fit: cover;
	// background-position: center;
	border: 2px solid #b5f8f8cc;

	@media (min-device-pixel-ratio: 2) and (max-width: 767px),
	(min-resolution: 192dpi) and (max-width: 767px),
	(min-resolution: 2dppx) and (max-width: 767px) {
		background-position: bottom;
		height: 70vw;
		background-image:
			url("../img/family/family-mobil@2x.webp");
	}

	@media screen and (min-width: 768px) {
		// padding: 250px 0 20px;
		margin: 0 auto 120px;
		height: 460px;
		background-position: bottom;
		background-image:
			linear-gradient(#2f303a47,
				#2f303a66),
			url("../img/family/family-tablet.webp");
	}

	@media (min-device-pixel-ratio: 2) and (min-width: 768px),
	(min-resolution: 192dpi) and (min-width: 768px),
	(min-resolution: 2dppx) and (min-width: 768px) {

		background-image:
			linear-gradient(#2f303a47,
				#2f303a66),
			url("../img/family/family-tablet@2x.webp");

	}

	@media screen and (min-width: 1200px) {
		background-position: bottom;
		height: 430px;
		max-width: 1600px;
		background-image:
			linear-gradient(#2f303a47,
				#2f303a66),
			url("../img/family/family.webp");
	}

	@media (min-device-pixel-ratio: 2) and (min-width: 1200px),
	(min-resolution: 192dpi) and (min-width: 1200px),
	(min-resolution: 2dppx) and (min-width: 1200px) {
		// padding: 0px 0 0px;

		background-image:
			linear-gradient(#2f303a47,
				#2f303a66),
			url("../img/family/family@2x.webp");
	}
}

/* ---- particles.js container ---- */


.particles-js2 {
	position: absolute;

	width: 100%;
	height: 100%;

	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;

}

.hero-list {
	display: flex;
	align-items: center;
	flex-direction: column;
	transform: translateY(250px);

	// max-width: 120px;
	// max-height: 120px;
	padding: 0;

	@media screen and (min-width: 768px) {
		// padding: 300px 0 0;

		transform: translateY(30px);
	}
}





.logo__overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	perspective: 100px;
}


.hero__link {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	transition-duration: 1s;

	transform: scale(1.001);
	// transform: rotateX(40deg);

	.section-hero__logo:hover &,
	.section-hero__logo:focus & {
		transition-duration: 1s;
		transform: scale(1.06);
		// transform: rotateX(0deg);
		transition-timing-function: $anime-text;
	}

	@media screen and (min-width: 768px) {
		margin: 0px;
	}


}


.hero-logo {
	position: absolute;
	border-radius: 5px;
	width: 90px;
	height: 90px;
	// margin-top: -230px;
	margin: 0 auto;

	transition-duration: 1s;
	stroke-width: 0.2px;
	// stroke: #fcb90269;
	// stroke: #fcb902;
	// box-shadow: inset 0 0 10px 6px #fcb902c9;

	.section-hero__logo:hover &,
	.section-hero__logo:focus & {
		transition-timing-function: $anime-text;
		box-shadow: inset 0 0 65px 10px $Logo-color,
			0 0 10px 5px #fc9402, 0 0 20px 5px #fc9802,
			0 0 5px 2px #000305c5,
			inset 0 0 6px 1px #000000c5;
	}

	@media screen and (min-width: 650px) {
		width: 70px;
		height: 70px;
	}

	@media screen and (min-width: 768px) {
		width: 110px;
		height: 110px;
		// margin-top: -190px;
	}

	@media screen and (min-width: 1200px) {
		width: 120px;
		height: 120px;

	}
}

.hero-logo__o {
	transition-duration: 1s;
	fill: $primary-text-color;
	width: 50px;
	height: 50px;
	margin: 0 auto;

	fill: $primary-text-color;
	border-radius: 35px;
	stroke-opacity: 0.5;
	stroke-width: 0.3px;
	// stroke: #ffffff32;
	box-shadow: none;

	.section-hero__logo:hover &,
	.section-hero__logo:focus & {
		transition-timing-function: $anime-text;
		box-shadow: inset 0 0 10px 25px #015b7b7a,
			0 0 10px 5px #00496471;
	}

	@media screen and (min-width: 650px) {
		width: 38px;
		height: 38px;
	}

	@media screen and (min-width: 768px) {
		width: 60px;
		height: 60px;

		.section-hero__logo:hover &,
		.section-hero__logo:focus & {

			// stroke: #ffffff;
			box-shadow: inset 0 0 10px 25px $Logo-color,
				0 0 10px 5px $Logo-color;
		}
	}

	@media screen and (min-width: 1200px) {
		width: 68px;
		height: 68px;

	}


}






.oxy-container {
	position: absolute;
	max-width: 250px;
	min-width: 120px;
	border-radius: 15px;
	top: 75px;

	@media screen and (min-width: 768px) {
		width: 170px;
	}

	@media screen and (min-width: 1200px) {
		width: 250px;

	}
}

.hero-title__box {
	text-align: center;
	text-wrap: nowrap;
	top: 130px;
	position: absolute;
	width: 100vw;
	perspective: 300px;

	transition-duration: 0.5s;
	transform: translateX(-100vw);

	.section-hero__logo:hover &,
	.section-hero__logo:focus & {
		transition-timing-function: $anime-text;
		transform: translateX(0vw);

	}

	@media screen and (min-width: 768px) {
		width: 350px;
	}

	@media screen and (min-width: 1200px) {
		width: 500px;
		// text-align: center;
		top: 140px;

		transition-duration: 1s;

		// .section-hero__logo:hover &,
		// .section-hero__logo:focus & {
		// 	transition-timing-function: $anime-text;
		// 	left: 200px;
		// }

	}
}

.title__logo {
	width: 100%;
	transform: rotateX(20deg);
	transition-duration: 1s;
	text-shadow:
		0px 3px 1px #027984,
		0px 4px 10px #160060,
		// 0px 0px 4px #ffffff,
		// 0px 1px 1px $White-color,
		0px 1px 1px $White-color;

}