
		
		.hero-head__water {
			display: flex;
			justify-content: center;
		user-select: none;
	// padding: 100px 35px 50px;
	padding: 400px 15px 300px;


	@media screen and (min-width: 768px) {
		padding: 240px 0 210px;
	}

	@media screen and (min-width: 1200px) {
// width: 70vw;
		padding: 300px 0 250px;

	}
}




// < !-- Logo -->


.container-hero{
	padding:0px 0 50px;
position: relative;
overflow: hidden;
margin: 0 auto;
		border-top: 2px #fff solid;
				border-bottom: 2px solid #ffffff;

				@media screen and (max-width: 767px) {
					height: 100vw;
				}

				@media screen and (min-width: 768px) {
					margin: 0 auto 0;
					padding: 0;
					height: 460px;
				}

				@media screen and (min-width: 1200px) {
					background-position: bottom;
					height: 450px;
				}


}





.section-hero__logo {
// overflow: hidden;
	display: flex;
	justify-content: center;
	position: relative;
	margin: 0 0 8px;
	background-size: cover;
	will-change: transform;
		transition-duration: 2s;
		animation-timing-function: $anime-section;
		transform: scale(1.03);
		transform-origin: center;
	&:hover,
	&:focus {
	margin: 0px;
	transition-duration: 0.5s;
	transform: scale(1);
			}

@media screen and (max-width: 767px) {
	height: 100vw;
	background-image:
			url("../img/family/family-mobil.webp");
	
}
	@media (min-device-pixel-ratio: 2) and (max-width: 767px),
	(min-resolution: 192dpi) and (max-width: 767px),
	(min-resolution: 2dppx) and (max-width: 767px) {
	// 	background-position: bottom;
		height: 100vw;
		background-image:
			url("../img/family/family-mobil@2x.webp");
	}

		

	@media screen and (min-width: 768px) {
		// padding: 250px 0 20px;
		// margin: 0 auto 0px;
		height: 460px;
		background-position: bottom;
		background-image:
			linear-gradient(#2f303a47,
				#2f303a66),
			url("../img/family/family-tablet.webp");
	}

	@media (min-device-pixel-ratio: 2) and (min-width: 768px),
	(min-resolution: 192dpi) and (min-width: 768px),
	(min-resolution: 2dppx) and (min-width: 768px) {

		background-image:
			linear-gradient(#2f303a47,
				#2f303a66),
			url("../img/family/family-tablet@2x.webp");

	}

	@media screen and (min-width: 1200px) {
		background-position: bottom;
			// margin: 0 0 10px;
			// padding: 0 0 500px;
		height: 450px;
		max-width: 1600px;
		background-image:
			linear-gradient(#2f303a47,
				#2f303a66),
			url("../img/family/family.webp");
	}

	@media (min-device-pixel-ratio: 2) and (min-width: 1200px),
	(min-resolution: 192dpi) and (min-width: 1200px),
	(min-resolution: 2dppx) and (min-width: 1200px) {
	
		background-image:
			linear-gradient(#2f303a47,
				#2f303a66),
			url("../img/family/family@2x.webp");
	}
}

/* ---- particles.js container ---- */


.particles-js2 {
	position: absolute;

	width: 100%;
	height: 100%;

	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;

}

.hero-list {
	display: none;
	// margin: 0 auto;
	// overflow: hidden;
	// width: 250px;
	// height: 300px;
	// padding: 0;

	// bottom: 50px;
	// top: 0;
	
	@media screen and (min-width: 768px) {
	display: flex;
flex-direction: column;
align-items: center;
// justify-content:flex-end;
position: absolute;
	bottom: 20px;
	// width: auto;
	// height: auto;
	}
}

.hero-list_mobile {

		display: flex;
			flex-direction: column;
			align-items: center;
			justify-content:center;
			margin: 100px 0		;
			// position: absolute;
			// bottom: 20px;
			// width: ;
			// height: auto;
@media screen and (min-width: 768px) {
	display: none;
}
}




.logo-box__hero {
	// justify-content: center;
	// align-items: center;
	// margin: 0px auto 80px;
	position: relative;
	
	@media screen and (min-width: 768px) {
			display: block;
		margin: 0 0 50px ;
	}
}


.logo-link {
	display: flex;
	align-items: center;
	justify-content: center;
align-items: center;
	// overflow: hidden;
	transform-origin: center;
	// position: absolute;
	// width: 100px;
margin: 0 auto;
	user-select: none;
	transition-duration: $animation-head;

	.hero-list_mobile:hover &,
	.hero-list_mobile:focus &  {
			transition-timing-function: $anime-card-industry;
		
			transform: scale(1.15);
		}
	.section-hero__logo:hover &,
	.section-hero__logo:focus & {
			transition-timing-function: $anime-card-industry;

		transform: scale(1.15);
		
	}
	
}


.logo-hero {
	// position: absolute;
	border-radius: 5px;
	width: 90px;
	height: 90px;
	margin: 0 auto;
overflow: hidden;
	
	transition-duration: $animation-head;

	.hero-list_mobile:hover &,
	.hero-list_mobile:focus & {
	transition-timing-function: $anime-card-industry;
		box-shadow:
			0px 0px 30px 0px #ffffff,
			20px 20px 0px 0px $Logo-color-orang,
			-20px -20px 0px 0px $Logo-color-orang;
	}
	
	.section-hero__logo:hover &,
	.section-hero__logo:focus & {
		
	transition-timing-function: $anime-card-industry;
			box-shadow:
					0px 0px 30px 0px #ffffff ,
					20px 20px 0px 0px $Logo-color-orang,
					-20px -20px 0px 0px $Logo-color-orang;
	}


	@media screen and (min-width: 768px) {
		width: 90px;
		height: 90px;
		// margin-top: -190px;
	}

	@media screen and (min-width: 1200px) {
		width: 100px;
		height: 100px;

	}
}



.logo-hero__o {
	position: absolute;
	width: 50px;
	height: 50px;
	margin: 0 auto ;
	
	fill: #06ffea;
	border-radius: 35px;
	// stroke-opacity: 0.5;
	// stroke-width: 0.3px;
	// stroke: #ffffff32;
	.hero-list_mobile:hover &,
	.hero-list_mobile:focus & {
			transition-timing-function: $anime-card-industry;
				box-shadow:
					inset 0 0 6px 35px $Logo-color-blue,
					0 0 20px 20px $Logo-color-blue;
			
			}
	transition-duration: $animation-head;
	.section-hero__logo:hover &,
	.section-hero__logo:focus & {
		transition-timing-function: $anime-card-industry;
		box-shadow: 
		inset 0 0 6px 35px $Logo-color-blue,
		 0 0 20px 20px $Logo-color-blue;

	}

	@media screen and (min-width: 768px) {

		width: 55px;
		height: 55px;

		// .section-hero__logo:hover &,
		// .section-hero__logo:focus & {

		// 		box-shadow: inset 0 0 10px 35px #0463e8b4,
		// 			0 0 10px 5px #0463e8b4;
		// }
	}

	@media screen and (min-width: 1200px) {
		width: 60px;
		height: 60px;

	}
}


.oxy-container {
	// position: absolute;
	// max-width: 250px;
	// min-width: 150px;
	// border-radius: 15px;
	// transform: scale(0.9);
	// overflow: hidden;
user-select: none;
margin: 100px auto;
@media screen and (min-width: 768px) {
		margin: 0px auto;
		width: 350px;
	}

	@media screen and (min-width: 1200px) {
		width: 320px;

	}
}

.hero-title__box {
	display: flex;
	align-items: center;
	justify-content: center;
	// overflow: hidden;
margin: 0 auto 0px;	
padding: 100px 10px 350px;
	height: 150px;
	// width: calc(100vw - 10px);
width: 250px;
	text-align: center;
	// word-wrap: wrap;
	// white-space: pre-wrap;
	// width: 80vw;
	perspective: 300px;
	// border: #fff 1px solid;
	// overflow:visible;

	@media screen and (min-width: 768px) {
		width: 450px;
		margin: 0 auto;
	}

	@media screen and (min-width: 1200px) {
		width: 600px;
	}
}


.title__logo {
	transform-style: preserve-3d;
	text-shadow:
		0px 6px 1px #00308a,
		0px 2px 2px #000000,
		0px 0px 1px #fff;
		// animation-timing-function: cubic-bezier(.6, -0.6, .3, 1.48);
	// transform: rotateX(20deg) translateY(205px);
	animation: moveToAndFro 25s cubic-bezier(.59, .6, .45, .99) infinite;
	/* Початкова позиція, анімація ще не активована */
}

@keyframes moveToAndFro {
	0% {
		transform: rotateX(15deg) translateY(200px);
	}

	50% {
		transform: rotateX(20deg) translateY(50px);
	}

	100% {
		transform: rotateX(15deg) translateY(200px);
	}
}

// .title__logo.animate {
// 	animation: moveToAndFro 25s cubic-bezier(.59, .6, .45, .99) infinite;
// }