      // < !-- history -->

      .history-page {
         display: block;
         padding: 80px 0px 0px;

         overflow: hidden;

         @media screen and (min-width: 768px) {
            background-image: $bg-water-histore;
            padding: 50px 0px 20px;
            max-width: 1600px;
         }

         @media screen and (min-width: 1200px) {


            margin: 0 auto;

         }
      }

      .history-page__end {
         padding: 0px 15px 50px;

         @media screen and (min-width: 768px) {
            padding: 0px 15px 0px;
         }
      }


      .history-section {
         display: block;
         padding: 100px 0 0;
         margin: 0px 0 15px;

         animation: changeBgColor 40s linear infinite normal;

         border-radius: 5px;
         border-top: 4px solid #2d01268d;
         border-bottom: 18px solid #fceec5f9;
         background-image: linear-gradient(to bottom,

               #40063b71 65.5%,
               #37093353 70%,

               #fff3a3da 105%,
               #ffeaa3d6);

         // 5b5335bd cdb86d9a
         @media screen and (min-width: 768px) {

            padding: 60px 0 0px;
            margin: 0px 0 20px;
            max-width: 1600px;
            // height: auto;
         }

         @media screen and (min-width: 1200px) {
            margin: 0px 0 25px;
         }
      }

      @keyframes changeBgColor {


         0% {
            background-color: #358dffec;
         }

         5% {
            background-color: #358dffec;
         }

         6% {
            background-color: #f9aa9af2;
         }

         46% {
            background-color: #f68973f2;
         }



         53% {
            background-color: #f93f7da8;
         }

         55% {
            background-color: #ad00a7a8;
         }

         56% {
            background-color: #570066c9;
         }

         96% {
            background-color: #4b005af4;
         }

         100% {
            background-color: #358dffec;
         }
      }





      .history-hero__box {
         display: flex;
         align-items: center;
         flex-direction: column;

         margin: 0 auto 120px;
         color: $histor-color-text;
         // border: 1px solid #d1d2a512;
         background-color: transparent;

         // @media screen and (min-width: 768px) {
         //    margin: 0 200px 0px;
         //    // margin: 0 auto 100px auto;
         // }

         // @media screen and (min-width: 1200px) {
         //    margin: 0 300px 0px;
         //    // margin: 0 auto 100px auto;
         // }
      }


      .history-hero__heading {
         width: 70%;
         // height: 85px;
         user-select: none;
         // border-radius: 25px;
         text-shadow: 1px -1px 3px black;
         text-transform: uppercase;
         text-align: center;
         font-weight: 500;
         font-size: 18px;
         line-height: 1.86;
         letter-spacing: 0.22em;
         // border-bottom: 2px solid $histor-color-text;
         transition-duration: $animation-head;

         .history-section:hover &,
         .history-section:focus & {
            transition-timing-function: $anime-text;
            transform: scale(1.05);
            color: $prim-histor-text;

            text-shadow: 0px 0px 1px #ffffff,
               1px -2px 1px #000000,
               0px 0px 1px #000000,
               1px -1px 2px #000000;
         }

         @media screen and (min-width: 1200px) {
            font-weight: 600;
            font-size: 22px;
            line-height: 1.86;
            letter-spacing: 0.26em;
         }
      }

      .history-border {
         margin: -2px auto 0;
         transition-duration: $animation-head;

         height: 2px;
         border-bottom: 2px solid $prim-histor-text;
         width: 0.01%;

         .history-section:hover &,
         .history-section:focus & {
            transition-timing-function: $anime-border;
            width: 70%;
            border-bottom: 2px solid $prim-histor-text;
            box-shadow: 0px 2px 8px 2px $prim-histor-text;
         }
      }




      // section-end/

      .container-end {
         position: relative;
         border-radius: 5px;

         margin: 0 0px 300px;
         max-width: 450px;
         z-index: 1;
         border-top: 4px solid #ebdaa5dc;
         border-bottom: 4px solid #22011cd6;

         @media screen and (min-width: 768px) {
            margin: 0 0px 20px;
            max-width: 738px;
         }

         @media screen and (min-width: 1200px) {

            max-width: 1170px;
         }
      }




      .section-histore__end {
         display: block;
         position: absolute;
         z-index: -1;
         height: 100%;
         width: 100%;
         background-position: center;
         object-fit: cover;
         background-size: cover;
         overflow: hidden;
      }

      .section-histore__end img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         opacity: 0;
         transition: opacity 1s ease-in-out;
      }



      .box-end-grad {
         padding: 20px;
         background-image: linear-gradient(#cdb86dba 5%,
               #481043d1);
      }





      .box-article {
         display: block;
         padding: 20px;

         // z-index: 2;
      }




      .article-item {
         padding: 0 0 30px;
         transition-duration: 100ms;

         // &:hover,
         // &:focus {
         //    transform: scale(1.02);
         // }
      }

      .head-article {
         padding: 0 0 15px;
         color: $histor-color-text;
         transition-duration: 800ms;
         user-select: none;
         letter-spacing: 0.1em;

         .box-article:hover &,
         .box-article:focus & {
            transform: scale(1.02);
            text-shadow:
               #000000 0px 1px 2px,
               #000000 2px 5px 7px,
               #000000 1px 2px 1px;
         }
      }



      .article-title {
         padding: 0 0 5px;
         user-select: none;
         text-wrap: wrap;
         user-select: none;

         font-weight: 500;
         font-size: 15px;
         line-height: 1.5;
         letter-spacing: 0.08em;
         color: $histor-color-text;
         transition-duration: 400ms;

         .article-item:hover &,
         .article-item:focus & {
            transform: scale(1.02);
            color: $prim-histor-text;
            text-shadow: #000000 0px 2px 5px,
               #000000 2px 2px 1px;
         }
      }

      .article-aqueduct {
         padding: 0 0px;
         user-select: none;
         text-align: left;
         font-weight: 700;
         font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
         font-size: 12px;
         line-height: 1.5;
         letter-spacing: 0.04em;

         color: $histor-color-text;
         transition-duration: 100ms;

         .article-item:hover &,
         .article-item:focus & {
            color: $prim-histor-text;
            transform: scale(1.02);

            text-shadow: #000000 1px 2px 1px,
               #000000 1px 1px 5px;
         }
      }