      // < !-- history -->

      .history-page {
         display: block;
         padding: 80px 15px 50px;
         // margin: 0 auto 300px;

         @media screen and (min-width: 768px) {
            padding: 50px 15px 50px;
         }

         @media screen and (min-width: 1200px) {

            display: flexbox;
            margin: 0 auto;
            max-width: 1600px;

         }
      }




      .history-section {
         display: block;
         padding: 100px 0 0;
         // margin: 0px auto 0px;

         animation: changeBgColor 40s linear infinite normal;
         // transition: animation-play-state 3s ease-out;
         // animation-delay: 5s;
         border-radius: 5px;
         border-top: 4px solid #2d01268d;
         border-bottom: 18px solid #fceec5f9;
         background-image: linear-gradient(to bottom,

               #37093382 10.5%,

               #fff3a3da 105%,
               #ffeaa3d6);

         // 5b5335bd cdb86d9a
         @media screen and (min-width: 768px) {

            padding: 60px 0 0px;
            // margin: 0px auto;
            max-width: 1600px;

         }
      }

      @keyframes changeBgColor {


         0% {
            background-color: #0047b2e7;
         }

         10% {
            background-color: #fb7e68df;
         }



         50% {
            background-color: #7f2400e7;
         }

         60% {
            background-color: #220028e7;
         }

         95% {
            background-color: #1e0024f4;
         }

         99% {
            background-color: #00255cca;
         }

         100% {
            background-color: #0047b2e7;
         }
      }





      .history-hero {
         // display: flex;
         // flex-direction: column;
         // align-items: center;
         margin: 0 22px 0px 22px;
         transition-duration: $animation-head;
         color: $histor-color-text;
         // border: 1px solid #d1d2a512;
         background-color: transparent;

         .history-section:hover &,
         .history-section:focus & {
            // border: 1px solid #eae68c33;
            // background-color: #fbfae013;
            transform: scale(1.05);
            color: $prim-histor-text;
         }

         @media screen and (min-width: 768px) {
            margin: 0 200px 0px;
            // margin: 0 auto 100px auto;
         }

         @media screen and (min-width: 1200px) {
            margin: 0 350px 0px;
            // margin: 0 auto 100px auto;
         }
      }


      .history-hero__heading {
         padding: 0px 0px;
         // height: 85px;
         user-select: none;
         // border-radius: 25px;
         text-shadow: 1px 1px 3px black;
         text-transform: uppercase;
         text-align: center;
         font-weight: 300;
         font-size: 15px;
         line-height: 1.86;
         letter-spacing: 0.26em;
         // border-bottom: 2px solid $histor-color-text;

         .history-section:hover &,
         .history-section:focus & {

            text-shadow: 0px 0px 1px #ffffff, 2px 2px 2px black;
         }

         @media screen and (min-width: 1200px) {
            font-weight: 600;
            font-size: 22px;
            line-height: 1.86;
            letter-spacing: 0.26em;
         }
      }

      .history-border {
         margin: -2px auto 0;
         transition-duration: $animation-head;

         height: 2px;
         border: none;
         width: 0.1%;

         .history-section:hover &,
         .history-section:focus & {
            width: 100%;
            border-bottom: 2px solid $prim-histor-text;
            box-shadow: 0px 2px 5px 2px $prim-histor-text;
            // transform: scale(1.08)
         }
      }



      .section-histore__end {
         display: block;
         border-radius: 5px;
         margin: 0 0px 300px;
         border-top: 4px solid #ebdaa5dc;
         border-bottom: 4px solid #22011cd6;
         background-image: linear-gradient(#cdb86dba 5%, #481043d1),
            url("../img/hist-aqua/aqveduct1/aqua-mobile.jpg");
         background-position: center;
         object-fit: cover;
         height: 400px;
         max-width: 450px;
         overflow: hidden;
      }

      @media screen and (min-width: 768px) {
         .section-histore__end {
            padding: 0px;
            max-width: 738px;
            height: 400px;
            margin: 0 auto;
            border-radius: 5px;
            background-image: linear-gradient(#cdb86dba 5%, #481043d1),
               url("../img/hist-aqua/aqveduct0/aqua-tablet.jpg");
         }
      }

      @media screen and (min-width: 1200px) {
         .section-histore__end {
            max-width: 1170px;
            height: 650px;
            background-image: linear-gradient(#cdb86dba 5%, #481043d1),
               url("../img/hist-aqua/aqveduct0/aqua.jpg");
         }
      }




      .box-aqua {
         display: block;
      }