      // < !-- history -->

.history-page{
   display: block;
}




.history-section {
   display: block;
   padding:100px 0 ;

   margin: 0;

   // background-position: center;
// background-size: cover;
//    background-attachment: scroll;


   @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: center;
      max-width: 1600px;
      // height: 2000px;
      margin-left: auto;
      margin-right: auto;

   }
}


.history-hero{



margin: 0 22px 120px 22px;
// @media screen and (min-width: 360px) {
//    margin: 0 30px 120px 30px;
// }

@media screen and (min-width: 1200px) {

   margin: 0 auto 100px auto;
}
}



.history-hero__heading{
   padding: 5px 10px;
   // height: 85px;

   color: $Secondary-text-color;
   user-select: none;
// border-radius: 25px;
text-shadow: 1px 1px 3px black;
text-transform: uppercase;
text-align: center;
font-weight: 300;
font-size: 15px;
line-height: 1.86;
letter-spacing: 0.26em;

   // transition-property: font-size;  
transition-duration: $animation-head;
      .history-section:hover &,
         .history-section:focus & {
            transform: scale(1.05);
            color: $primary-text-color;
         }

         @media screen and (min-width: 360px) {
            // height: 60px;
            padding: 0px 5px;
         }
         
         @media screen and (min-width: 768px) {
   padding: 5px 20px 0 20px;
   
// height: 30px;
}


@media screen and (min-width: 1200px) {

font-weight: 600;
font-size: 22px;
line-height: 1.86;
letter-spacing: 0.26em;
}
}

.history-border {
   transition-duration: $animation-head;
   
      height: 2px;
      border-bottom: 2px solid $Secondary-text-color;
   
      .history-section:hover &,
      .history-section:focus & {
         border-bottom: 2px solid $primary-text-color;
         box-shadow: 0px 2px 8px 1px $primary-text-color;
         transform: scale(1.05)
      }


}