// < !-- industry -->

.idustry{
   display: block;
padding: 80px 0 50px 0;
   background-position: center;
   background-attachment: scroll;
   // background-color: rgba(3, 3, 109, 0.781); 
      // background-image:
      //       linear-gradient(rgba(6, 1, 55, 0.718),
      //          rgba(4, 3, 38, 0.777));
  
         // url("../img/bg-discl/bg-mobil.jpg")

   @media screen and (min-width: 1200px) {
 
      
      display: flexbox;
      justify-content: center;
      padding-top: 50px;
      margin: 0 auto;  
      max-width: 1600px;
    
   }
}

.section-hero{
   justify-content: right;
   padding: 80px 0 20px 0;
   margin-bottom: 40px;
   
   // background: $section-color;
   border-radius: 5px;
   background-color: $section-color__desktop;
   
   @media screen and (min-width: 1200px) {
      display: flex;
      flex-wrap: wrap;
      padding-top: 60px;
      padding-bottom: 20px;
            // border: 1px solid $svg-color;

}
}

.idustry-hero{
margin: 0 22px 120px 22px;  
// @media screen and (min-width: 360px) {
//    margin: 0 30px 120px 30px;
// }

 @media screen and (min-width: 1200px) {

margin: 0 auto 100px auto;
   }

}

.idustry-hero__heading{
   padding: 5px 10px;
   height: 85px;

   color: $Secondary-text-color;
   user-select: none;
// border-radius: 25px;
text-shadow: 1px 1px 3px black;
text-transform: uppercase;
text-align: center;
font-weight: 300;
font-size: 13px;
line-height: 1.86;
letter-spacing: 0.26em;

   // transition-property: font-size;  
transition-duration: $animation-head;
      .section-hero:hover &,
         .section-hero:focus & {
            font-size: 13.5px;
            color: $primary-text-color;
         }

         @media screen and (min-width: 360px) {
            height: 60px;
            padding: 0px 5px;
         }
         
         @media screen and (min-width: 768px) {
   padding: 0px 20px;
height: 30px;
}


@media screen and (min-width: 1200px) {

font-weight: 600;
font-size: 20px;
line-height: 1.86;
letter-spacing: 0.26em;
height: 40px;

   .section-hero:hover &,
      .section-hero:focus & {
      font-size: 20.5px;
      }
}

}

.head-border{
   // transition-duration: 0.5s;
   // transition: $animation-card;
   transition-duration: $animation-head;
   height: 2px;
   border-bottom: 2px solid $Secondary-text-color;

   .section-hero:hover &,
.section-hero:focus &{
   border-bottom: 2px solid $primary-text-color;
      box-shadow: 0px 3px 10px 2px $primary-text-color;
}


}




   .develo-eco__hand{
      margin-left: 25px;   
z-index: 4;
@media screen and (min-width: 768px) {
justify-content: right;
margin-left: 0px;

   }
   }

.hand-hero {

@media screen and (min-width: 768px) {
   justify-content: right;
   margin-right: 0px;
   width: 500px;
   }
}
  


.section-end {
   display: flex;
   // align-items: center;
   flex-direction: column;
}


.end__h2o{
   margin: 0 auto;
   
}

.end__svg{
      fill: $Secondary-text-color;
         // padding-bottom: 20px;
         display: flexbox;
         margin-left: auto;
         margin-right: auto;
         margin-bottom: 10px;
      
      transition-duration: $animation-head;
      
.section-end:hover &,
   .section-end:focus &{
  
            fill: $line-color;
         }
}


.impact-box__end{
   display: flex;
   align-items: center;
   justify-content: center ;
   height: 600px;
   
   border-radius: 5px;
   border: 1px solid $line-color ;
   border-top: none;
   border-bottom: none;

   &:hover,
   &:focus {
   
         border: 2px solid $primary-text-color ;
      border-top: none;
         border-bottom: none;
      }
   @media screen and (min-width: 768px) {
      height: 550px;
   }
   @media screen and (min-width: 1200px) {
// box-shadow: 0px 0px 1px 0px ($line-color), 0px 0px 1px 0px ($line-color);
height:465px;  
margin-bottom: 100px;


      }

}


.box__end {
   display: flex;
   align-items: center;
   justify-content: center;
position: relative;
   padding: 0px 15px;
   
   height: 1px;
   border-radius: 2px;
   overflow: hidden;
   border: 4px solid $line-color;
   box-shadow: 0px -3px 8px 1px ($line-color), 0px 3px 8px 1px ($line-color); 
   // background-color: rgba(2, 13, 29, 0.356); 
transition-duration: $animation-head;
   width: 93%;


   

   .section-end:hover &,
   .section-end:focus &{
transition-duration: 3s;
      height: 100%;
      width: 100%;
   border: 1px solid $Secondary-text-color;
      box-shadow: 0px -1px 4px 0px ($line-color), 0px 1px 4px 0px ($line-color);
   }  
   //     @media screen and (min-width: 360px) {
   // // height: 190px;
   //     }
   
   @media screen and (min-width: 1200px) {
   //   flex-wrap: wrap;

      height: 1px;
   padding: 0px 0px;
   }
   
}


.chart{
   padding: 0;
   
display: flex;
align-self: center;
   align-items: center;
      justify-content: center;
   margin: 0 auto;

   // height: 100%;
@media screen and (min-width: 1200px) {
// height:100%;
width: 100%;
      // z-index: -1;

         // min-width: 270px;
         // margin-top: 30px;
         // position: fixed;
         // width: 100%;
}
}

// .end-pic {
//    display: flex;
//    margin: 0 auto;
// background-position: center;
//    // object-fit:cover;
//    // height: 100%;
//    // background-color: rgba(3, 3, 109, 0.781); 
//          background-image:
//                linear-gradient(rgba(0, 110, 255, 0.316),
//                   rgba(2, 0, 60, 0.89)),
//                url("../img/end/end-mobile.jpg");

// @media (min-device-pixel-ratio: 2) and (max-width: 767px),
//    (min-resolution: 192dpi) and (max-width: 767px),
//    (min-resolution: 2dppx) and (max-width: 767px) {
//             background-image:
//                   linear-gradient(rgba(0, 110, 255, 0.129),
//     rgba(2, 0, 60, 0.89)),
//                   url("../img/end/end-mobile.jpg");
//    }

//    @media screen and (min-width: 768px) {
//       background-image:
//             linear-gradient(rgba(2, 108, 246, 0.185),
//                rgba(2, 0, 60, 0.89), rgba(2, 108, 246, 0.26)),
//             url("../img/end/end-tablet.jpg");

//    }


//    @media (min-device-pixel-ratio: 2) and (min-width: 768px),
//    (min-resolution: 192dpi) and (min-width: 768px),
//    (min-resolution: 2dppx) and (min-width: 768px) {
//       background-image:
//             linear-gradient(rgba(2, 108, 246, 0.185),
//                rgba(2, 0, 60, 0.53), rgba(2, 108, 246, 0.26)),
//             url("../img/end/end-tablet.jpg");
//    }

//    @media screen and (min-width: 1200px) {
 
 
//       background-image:
//             linear-gradient(rgba(2, 108, 246, 0.185),
//                rgba(2, 0, 60, 0.89), rgba(2, 108, 246, 0.26)),
//             url("../img/end/end.jpg");
//       }
   

//    @media (min-device-pixel-ratio: 2) and (min-width: 1200px),
//    (min-resolution: 192dpi) and (min-width: 1200px),
//    (min-resolution: 2dppx) and (min-width: 1200px) {

//       background-image:
//    linear-gradient(rgba(2, 108, 246, 0.185),
//    rgba(2, 0, 60, 0.89), rgba(2, 108, 246, 0.26)),
//       url("../img/end/end.jpg");
//       }
// }


.title-end {
background-color: #140084c0;
      height: 100%;

text-transform: uppercase;
   padding: 300px 10px;
position: absolute;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-align: center;
   white-space: pre-wrap;
   user-select: none;
   font-weight: 700;
   font-size: 12px;
   line-height: 1.9;
   letter-spacing: 0.08em;
   word-spacing: 2px;
   text-shadow: 1px 2px 5px black;
   // font-style:italic;
     color: $Secondary-text-color;
   transition-duration: 3s;

   .section-end:hover &,
   .section-end:focus &{
      font-size: 13.5px;
      color: $primary-text-color;
         padding: 300px 20px;
      }

      
      @media screen and (min-width: 768px) {
         padding: 100px 10px;
      }


   @media screen and (min-width: 1200px) {

// padding: 230px 70px;
         // background-image: linear-gradient(to bottom,
         
         //          #070085a5 10%,
         //          #00025cf0 60%,
         //          #0a0276a4);
            // height: 100%;
      font-size: 16px;
      .section-end:hover &,
         .section-end:focus & {
            
            padding: 230px 110px;
         font-size: 16.5px;
      //   color:  $primary-text-color;
      }
   }

}



.buton-down__up {
   display: none;
   @media screen and (min-width: 1200px) {
   display: flex;
   justify-content: right;
margin: 0px 50px 50px 0px;

}


.down__up{
      display: block;
   padding: 5px 10px;
   color: $Secondary-text-color;
   border: 1px solid $primary-text-color;
   transition:  $animation-card;
   border-radius:5px;
   
   text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  &:hover,
  &:focus{
      color: $line-color;
      background-color: $svg-color;
   }
}}