// < !-- industry -->

.idustry {
   display: block;
   padding: 80px 0 0px 0;
   position: relative;
   background: $bg-water-mobile;
   // z-index: 2;
   // background-position: center;
   // background-attachment: scroll;
   // background-color: rgba(3, 3, 109, 0.781); 
   // background-image:
   //       linear-gradient(rgba(6, 1, 55, 0.718),
   //          rgba(4, 3, 38, 0.777));
   
   // url("../img/bg-discl/bg-mobil.webp")
   margin: 0 0 0px 0;
   
   @media screen and (min-width: 768px) {
      margin: 0 0 0px 0;
      padding: 50px 0 0px;
      background: $bg-water-head;
   }

   @media screen and (min-width: 1200px) {
      display: flexbox;
      margin: 0 auto;
      padding: 50px 0 0px 0;
      max-width: 1600px;

   }
}

.section-hero__industry {
   // z-index: 2;
   padding: 80px 0 25px 0;
   margin: 0px 0 40px;
   // border-top: 3px solid #5bdeccdb;
   border-radius: 5px;
   position: relative;

   background-size: cover;
   background-position: top;

   @media (min-device-pixel-ratio: 2) and (max-width: 767px),
   (min-resolution: 192dpi) and (max-width: 767px),
   (min-resolution: 2dppx) and (max-width: 767px) {
      // height: 300px;
      // padding: 100px 0 0px;

      background-image:
         linear-gradient(to bottom,
         #5cc6ff 1%,
            #0e9dfdde 1.3%,
            #0077ff3e 41%,
            #0039aacc 71%,
            #032770ed 88%,
            #01266ffe 98%,
            #0d0139ea 99%,
         ),

         url("../img/head-i/head-indus.webp");

   }

   @media screen and (min-width: 768px) {
      padding-top: 80px;
      padding-bottom: 30px;
      background-position: center;
      background-size: cover;
      height: 380px;

      // padding: 250px 0 20px;
      // height: 520px;
      // background-position: bottom;
      background-image:
         linear-gradient(to bottom,
         #5cc6ff 1%,
            #0e9dfdde 1.3%,
            #0077ff3e 41%,
            #0039aacc 71%,
            #032770ed 88%,
            #01266ffe 98%,
            #0d0139ea 99%,
         ),

         url("../img/head-i/head-indus.webp");
   }


   @media (min-device-pixel-ratio: 2) and (min-width: 768px),
   (min-resolution: 192dpi) and (min-width: 768px),
   (min-resolution: 2dppx) and (min-width: 768px) {

      background-image:
         linear-gradient(to bottom,
               #5cc6ff 1%,
                  #0e9dfdde 1.3%,
                  #0077ff3e 41%,
                  #0039aacc 71%,
                  #032770ed 88%,
                  #01266ffe 98%,
                  #0d0139ea 99%,
         ),

         url("../img/head-i/head-indus.webp");
   }

   @media screen and (min-width: 1200px) {
      background-position: center;
      height: 400px;
      padding-bottom: 0px;
      background-image:
         linear-gradient(to bottom,
            #5cc6ff 1%,
            #0e9dfdde 1.3%,
            #0077ff3e 41%,
            #0039aacc 71%,
            #032770ed 88%,
            #01266ffe 98%,
            #0d0139ea 99%,
         ),

         url("../img/head-i/head-indus.webp");
   }

   @media (min-device-pixel-ratio: 2) and (min-width: 1200px),
   (min-resolution: 192dpi) and (min-width: 1200px),
   (min-resolution: 2dppx) and (min-width: 1200px) {
      // padding: 0px 0 0px;
      padding-bottom: 0px;
      background-image:
         linear-gradient(to bottom,
         #5cc6ff 1%,
            #0e9dfdde 1.3%,
            #0077ff3e 41%,
            #0039aacc 71%,
            #032770ed 88%,
            #01266ffe 98%,
            #0d0139ea 99%,
         ),

         url("../img/head-i/head-indus.webp");
   }
}



/* ---- particles.js container ---- */
#particles-js {
   position: absolute;
   z-index: 1;
   width: 100%;
   height: 100%;
   opacity: 0.5;
   transform: translateY(0px);
   // background-color: #050c43;
   // background-image: url("");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 50% 50%;
   top:0;
}



.idustry-hero__heading {

   color: $Secondary-text-color;
padding: 0 0 0px;
font-family: "Audiowide", serif;
font-weight: bold;
letter-spacing: 0.003em;
font-size: 20px;
   text-shadow:
      0px 0px 15px #0066ff,
      0px 3px 4px #001361,
      -1px 0px 2px #e7e7e7,
      1px 1px 1px #e7e7e7;

   .section-hero__industry:hover &,
   .section-hero__industry:focus & {
      transition-duration: 0.5s;
      transform: scale(1.05);
      color: #b4dfff;
   }

@media screen and (min-width: 768px) {
   
   font-size: 22px;
}

@media screen and (min-width: 1200px) {
   
   font-size: 26px;
}
}




.develo-eco__hand {
   // display: flex;
   // justify-content: center;
   // align-items: center;
   margin: 0px 0 0px 25px;
user-select: none;
   // position: absolute;
   height: 135px;
   // top: 100px;
   // z-index: 5;
   // user-select: none;
   
   @media screen and (min-width: 768px) {
      display: block;
      // flex-direction: row-reverse
bottom: 30px;
      right: 0;
      margin: 0;
   }

@media screen and (min-width: 1200px) {
   bottom: 50px;
}
}

.electric {
   display: none;
   z-index: 1;
 
   position: absolute;  
   width: 10%;
   
   height: 10%;

   bottom: 19.5vw;
   right: 40%;

@media screen and (min-width: 768px) {
      width: 35px;
         height: 10px;
      
         bottom: 118px;
         right: 160px;
   }

  @media screen and (min-width: 1200px) {
   width: 50px;
      height: 10px;
   
      bottom: 150px;
      right: 220px;

  }
}


.animate{
      display: block;
   //    .develo-eco__list:hover &,
   // .develo-eco__list:focus & {
   //       display: block;
   //    }
}




.hand-hero {
   z-index: 3;
   position: absolute;
   user-select: none;
   // background-color: transparent;
   opacity: 0.9;
   // width: 400p;
   bottom: 22px;
   @media screen and (min-width: 768px) {

      width: 360px;
      right: 0;
      bottom: 30px;
   }
   @media screen and (min-width: 1200px) {
      width: 500px;
right: 0;
   bottom: 50px;
   }
}

.section-end {
   display: flex;
   // align-items: center;
   flex-direction: column;
   padding: 0px 0px;
   margin: 0 0 200px;
   border-radius: 10px;
   background-repeat: no-repeat;
   // object-fit: cover;
   background-size: contain;
   // width: 100%;
   // height: 100%;
   // background-image: linear-gradient(to bottom,
   //       #243f6c 0.5%,
   //       #001021d9 0.8%,
   //       #001021d9 1.1%,
   //       #00050ad9 99.2%,
   //       #000000 5%);

   @media screen and (min-width: 768px) {
      padding: 0px 0px 0px;
margin: 0;
   }
}

.impact-box__end {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 500px;

   border-radius: 10px;
   // border: 6px solid $Secondary-text-color ;
   border-top: none;
   border-bottom: none;

   transition-duration: $animation-head;
   margin: 0 0px;

   @media screen and (min-width: 768px) {
      height: 330px;
      margin: 0 0px 00px;
   }

   @media screen and (min-width: 1200px) {
      height: 400px;
   }

}


.box__end {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   padding: 0px 0px;
   height: 100%;
   width: 100%;
   // height: 1px;
   border-radius: 10px;
   overflow: hidden;
   border: 5px solid #0135af;
   border-left: none;
   border-right: none;
   // transition-duration: $animation-head;

   // width: 93%;
   .impact-box__end:hover &,
   .impact-box__end:focus & {
      border: 5px solid $primary-text-color;

      border-left: none;
      border-right: none;
   }


   @media screen and (min-width: 1200px) {
      // height: 1px;
      padding: 0px 0px;
   }

}


.chart {
   padding: 0;
   position: absolute;
   opacity: 0.6;

   @media screen and (min-width: 768px) {
      opacity: 0.6;

      width: 100%;
   }

}




.box-title-end {
   // @media screen and (min-width: 1200px) {

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: absolute;

   height: 100%;
   width: 100%;
   padding: 0 15px;

   background-color: #110160ca;
   
   .impact-box__end:hover &,
   .impact-box__end:focus & {
      background-color: #0d0046c5;
   }
}

.title-end {
   text-align: center;

font-family: "Audiowide", sans-serif;

   user-select: none;
   text-transform: uppercase;
   font-weight: bolder;
   font-size: 12px;
   line-height: 1.4;
   letter-spacing: 0.02em;
word-spacing: 4px;

   color: #00b7ff;
   color: $primary-text-color;
   text-shadow: 1px 1px 2px black, 0px 0px 2px #fff,
      -1px -1px 2px black;

   transition-duration: 100ms;
   transform: translateX(-100vw);

   .impact-box__end:hover &,
   .impact-box__end:focus & {
      transform: translateX(0vw);
      animation: moveTextRightToLeft $animation-end linear normal;
      animation-timing-function: $anime-text;

   }

   @media screen and (min-width: 768px) {
      font-size: 15px;
      width: 550px;
   }

      @media screen and (min-width: 1200px) {
      font-size: 17px;
      width: 1000px;
   }



}

@keyframes moveTextRightToLeft {
   0% {
      transform: translatex(100%);
   }

   100% {
      transform: translatex(0%);
   }
}

.title-end__left {
   transform: translateX(100vw);


   .impact-box__end:hover &,
   .impact-box__end:focus & {
      transform: translateX(0vw);
      animation: moveTextLeftToRight $animation-end linear normal;
      animation-timing-function: $anime-text;
   }
}


@keyframes moveTextLeftToRight {
   0% {
      transform: translatex(-100%);
   }

   100% {
      transform: translatex(0%);
   }
}


// .test {
//    margin: 0 auto;
//    display: flex;
//    justify-content: center;
//    /* Центруємо по горизонталі */
//    align-items: center;
//    /* Центруємо по вертикалі */
//    position: relative;
//    height: 500px;
//    /* Повна висота екрану */
//    width: 1170px;
//    /* Повна ширина */
//    background: #4e4d4d;
//    /* Колір фону */
// }

/* Стилі для контейнера .electric */

// /* Стилі для канвасу, щоб він не виходив за межі контейнера */
// canvas {
//    position: absolute;
//    /* Абсолютне позиціонування */
// bottom: 50%;
//    left: 0;
//    width: 100%;
//    /* Ширина 100% від контейнера */
//    height: 100%;
//    /* Висота 100% від контейнера */
// }