/*================== PAGE-HEADER ====================== */
.page-header {

background-image: 
url("../img/background/background-desktop-mobil.jpg");
	height: 935px;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	// border: 2px dashed tomato;
	

	@media (min-device-pixel-ratio: 2) and (min-width: 650px),
	(min-resolution: 192dpi) and (min-width: 650px),
	(min-resolution: 2dppx) and (min-width: 650px) {
	padding-top: 10px;
	height: 400px;
	background-image:
	url("../img/background/background-desktop-mobil@2x.jpg");
	}

	@media screen and (min-width: 661px) and (max-width: 1050px) {
	height: 1370px;
	background-image:
	url("../img/background/background-desktop-tablet.jpg");
	}

	@media
	(min-device-pixel-ratio: 2) and (min-width: 661px) and (max-width: 1050px),
	(min-resolution: 192dpi) and (min-width: 661px) and (max-width: 1050px),
	(min-resolution: 2dppx) and (min-width: 661px) and (max-width: 1050px){
	padding-top: 18px;
	height: 1370px;
	background-image:
	url("../img/background/background-desktop-tablet.jpg");
	}



	@media screen and (min-width: 1051px) {
	max-width: 1900px;
	height: 820px;
	padding-top: 30px;
	background-image:
	url("../img/background/background-desktop.jpg");
	}
	
	@media (min-device-pixel-ratio: 2) and (min-width: 1200px),
	(min-resolution: 192dpi) and (min-width: 1200px),
	(min-resolution: 2dppx) and (min-width: 1200px) {
		height: 1180px;
	background-image:
	url("../img/background/background-desktop@2x.jpg");
	}
}

.page-header__nav {
	margin-left: 8%;
		position: fixed;
		z-index: 1;
// border: 2px dashed tomato;
}