/*================== PAGE-HEADER ====================== */

.page-header {
   display: block;
   position: relative;
   padding: 0 0 100px;
   margin: 0 auto;
   // overflow: hidden;
   justify-content: center;

   @media screen and (min-width: 768px) {

      background-image: $bg-water-head;
   }

   @media screen and (min-width: 1200px) {
      display: block;
      // height: 150vw;
      width: 100%;
      height: 100%;
      // background-size: contain;
      // 	background-position: center;
      // 	background-attachment: fixed;
      // object-fit:contain;
      max-width: 1600px;

   }
}



// < !-- advantages-section -->


.advantages-section {
   display: block;
}

.advantages-list {
   list-style-type: decimal;
   display: block;
   margin: 0 0 100px;

   @media screen and (min-width: 768px) {
      display: flex;
      // flex-wrap: wrap;
      justify-content: center;
      flex-wrap: nowrap;
      justify-content: space-between;
   }
}




.advantages-item {
   display: flex;
   justify-content: left;
   // flex-wrap: wrap;
   position: relative;

   padding: 0 35px;
   margin: 0 auto 50px;

   counter-increment: advantage-counter;
   transition-duration: 0.1s;
   text-shadow: 1px 1px 2px #050505, 0px 0px 4px #050505;
   color: #0077ff;
   font-size: 75px;
   font-weight: 100;

   width: 250px;
   height: 300px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   // border: 2px red solid;

   &:hover,
   &:focus {
      color: #fff;
      text-shadow: 1px 1px 2px #050505,
         0px 0px 4px #050505, 0px 0px 10px #fefafa;
      font-size: 85px;

   }

   @media screen and (min-width: 768px) {
      padding: 0 0px;
      margin: 0px;
      width: 200px;
   }

   @media screen and (min-width: 1200px) {
      width: 280px;
      padding: 0 35px;
   }

}

.advantages-card {

   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   position: absolute;

}


.advantages-item::before {
   content: counter(advantage-counter);

}


.advantages-title {
   display: block;
   text-align: left;
   position: absolute;
   // left: 0px;
   margin: 15px 0 0 45px;
   width: 120px;

   user-select: none;
   font-size: 15px;
   font-weight: 600;

   color: $svg-color;
   // color: #00ff6e;
   text-shadow: 1px 1px 2px #000317, 0px 0px 1px #01112e;

   @media screen and (min-width: 768px) {
      width: 120px;
      margin: 15px 0 0 30px;
      font-size: 13px;
      font-weight: 500;
   }

   @media screen and (min-width: 1200px) {
      margin: 15px 0 0 45px;
      width: 140px;
      font-size: 15px;
      font-weight: 600;
   }
}





.advantages-svg {
   width: 200px;
   // position: absolute;
   // right: 10px;
   // height: 300px;
   transition-duration: 1s;
   margin: 110px 0px 0 0;

   .advantages-item:hover &,
   .advantages-item:focus & {
      transition-timing-function: $anime-hero;
      transform: scale(1.2);
   }
}




// < !-- t's our job -->

.section-case {
   display: flex;
   // justify-content: center;
   flex-direction: column;
   align-items: center;
   margin: 0 0 0px;
}


.case__head__box {
   display: flex;
   flex-direction: column;
   align-items: center;

   margin: 0 0px 50px;
   width: 300px;
   color: $Secondary-text-color;
   // border: 1px solid #d1d2a512;
   background-color: transparent;

   @media screen and (min-width: 768px) {
      margin: 0 0px 50px;
      width: 400px;
      // margin: 0 auto 100px auto;
   }

   @media screen and (min-width: 1200px) {
      margin: 0 0px 50px;
      width: 500px;
      // margin: 0 auto 100px auto;
   }
}


.case__head {
   padding: 0px 0px;
   user-select: none;
   // border-radius: 25px;
   text-shadow: 1px 1px 2px black;
   text-transform: uppercase;
   text-align: center;
   font-weight: 900;
   font-size: 18px;
   line-height: 1.86;
   letter-spacing: 0.22em;
   // border-bottom: 2px solid $histor-color-text;
   transition-duration: $animation-head;
   color: $primary-text-color;

   .section-case:hover &,
   .section-case:focus & {
      transition-timing-function: $anime-text;
      transform: scale(1.05);
      // color: $White-color;
      // color: $svg-color;

      text-shadow: 0px 0px 1px $White-color,
         1px 2px 2px #000000;
   }

   @media screen and (min-width: 1200px) {
      font-weight: 900;
      font-size: 22px;
      line-height: 1.86;
      letter-spacing: 0.26em;
   }
}


.case__head__border {
   margin: 0px auto 0;
   transition-duration: $animation-head;

   height: 2px;
   border: none;
   border-bottom: 2px solid $White-color;
   width: 0.001%;

   .section-case:hover &,
   .section-case:focus & {
      transition-timing-function: $anime-border;
      width: 90%;
      border-bottom: 2px solid $White-color;
      ;
      box-shadow: 0px 2px 8px 2px $White-color;
      // transform: scale(1.08)
   }
}



.case-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   // list-style-type: decimal;


}

.case-item {
   // border-radius: 10px;
   position: relative;
   width: 85%;
   transition-duration: 0.5s;

   &:hover,
   &:focus {
      transform: scale(1.04);
      box-shadow: 0px 1px 1px #ffffff1f,
         -1px 4px 4px #ffffff0f,
         0px 4px 6px #ffffff0f,
         1px 4px 6px #ffffff29,
         1px 4px 16px $svg-color;
   }

   @media screen and (min-width: 768px) {
      width: calc((100% - 110px) / 3);

   }
}

.case-item:not(last-child) {
   margin: 0 0 40px;
}


.case-titl__box {
   display: flex;
   justify-content: center;
   position: absolute;
   background: #1f01406e;
   width: 100%;
   bottom: 10px;
   text-align: center;

   // left: 50%;
}

.case-title {
   user-select: none;
   padding: 10px 0;
   font-weight: 800;
   font-size: 15px;
   letter-spacing: 0.2em;
   text-transform: uppercase;
   color: $svg-color;

   transition-duration: 0.5s;

   .case-item:hover &,
   .case-item:focus & {
      text-shadow: 1px 1px 2px #000000,
         1px 2px 1px #000000;
      color: #fff;
      transform: scale(1.04);
   }

   @media screen and (min-width: 768px) {
      font-size: 10px;
      font-weight: 800;

   }

   @media screen and (min-width: 1200px) {
      font-size: 14px;
      font-weight: 900;

   }

}


// < !-- section-project -->




.section-project {
   display: flex;
   padding: 150px 0;
   justify-content: center;
   flex-wrap: wrap;
}



.project-head__box {
   display: flex;
   flex-direction: column;
   align-items: center;

   margin: 0 0px 50px;
   width: 300px;
   color: $Secondary-text-color;
   // border: 1px solid #d1d2a512;
   background-color: transparent;

   @media screen and (min-width: 768px) {
      margin: 0 0px 50px;
      width: 400px;
      // margin: 0 auto 100px auto;
   }

   @media screen and (min-width: 1200px) {
      margin: 0 0px 50px;
      width: 500px;
      // margin: 0 auto 100px auto;
   }
}


.project-head {
   padding: 0px 0px;
   user-select: none;
   // border-radius: 25px;
   text-shadow: 1px 1px 2px black;
   text-transform: uppercase;
   text-align: center;
   font-weight: 900;
   font-size: 18px;
   line-height: 1.86;
   letter-spacing: 0.22em;
   // border-bottom: 2px solid $histor-color-text;
   transition-duration: $animation-head;
   color: $primary-text-color;

   .section-project:hover &,
   .section-project:focus & {
      transition-timing-function: $anime-text;
      transform: scale(1.05);
      // color: $White-color;
      // color: $svg-color;

      text-shadow: 0px 0px 1px $White-color,
         1px 2px 2px #000000;
   }

   @media screen and (min-width: 1200px) {
      font-weight: 900;
      font-size: 22px;
      line-height: 1.86;
      letter-spacing: 0.26em;
   }
}


.project__head__border {
   margin: 0px auto 0;
   transition-duration: $animation-head;

   height: 2px;
   border: none;
   border-bottom: 2px solid $White-color;
   width: 0.001%;

   .section-project:hover &,
   .section-project:focus & {
      transition-timing-function: $anime-border;
      width: 90%;
      // border-bottom: 2px solid $White-color;
      ;
      box-shadow: 0px 2px 8px 2px $White-color;
      // transform: scale(1.08)
   }
}

.project-video {

   margin: 0 auto;
   width: 1130px;
   // height: 250px;
   overflow: hidden;
   border-radius: 20px;

}


.video-river {
   width: 100%;

}




.project-list {
   display: block;

   @media screen and (min-width:768px) {
      display: flex;
      justify-content: space-around;
   }
}


.project-item {
   display: block;
   width: 300px;

}