// page water

.page-water {
   display: block;
   padding: 80px 0 50px 0;
   position: relative;
   // background-position: center;
   // background-attachment: scroll;
   // background-color: rgba(3, 3, 109, 0.781); 
   // background-image:
   //       linear-gradient(rgba(6, 1, 55, 0.718),
   //          rgba(4, 3, 38, 0.777));

   // url("../img/bg-discl/bg-mobil.png")
   margin: 0 0 300px 0;

   @media screen and (min-width: 768px) {
      margin: 0 0 0px 0;
      background-image: $bg-water-industry;
      padding: 50px 0 20px;
   }

   @media screen and (min-width: 1200px) {
      display: flexbox;
      margin: 0 auto;
      padding: 50px 0 20px 0;
      max-width: 1600px;

   }
}


.water-mountins {
   position: relative;
   height: 100vw;
}


.cardww__overlay {
   display: block;
}



.deco-container {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   margin: 0 0 155px 0;
   width: 430px;
   height: 250px;
   // background-color: #ccff00;

   &:hover::before,
   &:focus::before {
      background-color: #ff0000;
      /* Зміна кольору горизонтальної лінії при ховері або фокусі */
      width: 80%;
      /* Зміна ширини горизонтальної лінії при ховері або фокусі */
   }

   &:hover::after,
   &:focus::after {
      background-color: #00ff00;
      /* Зміна кольору горизонтальної лінії при ховері або фокусі */
      width: 60%;
      /* Зміна ширини горизонтальної лінії при ховері або фокусі */
   }
}

.deco-container::before,
.deco-container::after {
   content: '';
   position: absolute;
   background-color: #ff5100;
}

/* Горизонтальна лінія вгорі */
.deco-container::before {
   top: 0;
   left: 0;
   height: 2px;
   width: 100%;
   transition: background-color 0.3s, width 0.3s;
   /* Додано анімацію для плавної зміни кольору та ширини */
}

/* Горизонтальна лінія внизу */
.deco-container::after {
   bottom: 0;
   left: 0;
   height: 2px;
   width: 100%;
   transition: background-color 0.3s, width 0.3s;
   /* Додано анімацію для плавної зміни кольору та ширини */
}

/* Вертикальна лінія */
.deco-container__vertical-line {
   position: absolute;
   background-color: #ddff00;
   width: 2px;
   height: 100%;
   left: 50%;
   /* Поміщаємо лінію в середину контейнера по горизонталі */
   transform: translateX(-50%);
   /* Це потрібно для коректного центрування по горизонталі */
}