/* =================SITE-NAV  ================= */
.page__nav {
		display: flex;
			// background-color: rgb(3, 18, 78);
			// justify-content:start;
			// align-items: end;
			padding: 10px 0 0 0;
			// padding-top: 10px;
			// padding-bottom: 10px;
			// width: 100%;/
			// position: fixed;

			@media screen and (min-width: 1200px) {
				// display: flex;
				// position: static;
				max-width: 1600px;
		

			}
}


.pg-header{
	display: block;
	position: fixed;
	width: 100%;
	padding: 10px 0 10px 0;
	z-index: 2;
	background-color: $bg-color;

@media screen and (min-width: 768px) {
	height: 70px;
	position: static;
}

	@media screen and (min-width: 1200px) {
	height: 90px;
	
		}
}

.bg-nav{
display: flex;
	// justify-self: start;
	// align-items: end;
	// width: 100%;
	
	@media screen and (min-width: 768) {
		
		justify-content: space-between;
		position: static;
	max-width: 1600px;


	}
}

.site-nav__logo{
	display: none;
	@media screen and (min-width: 768px) {
		display: flex;

	}

	// margin: 0 50px 0 20px;
}



.nav-logo{
	display: none;
@media screen and (min-width: 768px) {

display: block;
margin: 0 30px 0 10px;
	padding: 0;
transition: $animation-card;
width: 50px;
height: 50px;
}
@media screen and (min-width: 1200px) {
		height: 65px;
			width: 65px;
			margin: 0 50px 0 10px;
}
}

.site-nav {
	display: flex;
	align-items:center;
			z-index: 2;
	// margin-right: 20%;
	// justify-content: flex-start;
	font-weight: 400;
	font-size: 10px;
	line-height: 1.94;
	letter-spacing: 0.03em;
	text-shadow: 1px 1px 1px black;

	@media screen and (min-width: 768px){
		margin-right: 20%;
		font-weight: 400;
		font-size: 10px;
		line-height: 1.94;
		letter-spacing: 0.03em;
	}
	
	@media screen and (min-width: 1200px) {
	align-items: end;
		margin-right: 25%;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.94;
		letter-spacing: 0.03em;
	}
}


.site-nav__item {
	display: flexbox;
	margin-right: 15px;
	@media screen and (min-width: 768px) {
margin-right: 20px;
		
	}
	@media screen and (min-width: 1200px) {
	margin-right: 50px;
}
}

.site-nav__link {
	user-select: none;
	text-decoration: none;
	color: $White-color;
	transition: color $animation;
	&:hover,
	&:focus {
		color: $Accent;
	}

}

.site-nav__link--current {
	color: $Accent;
}

.contact__list{
	display: none;
@media screen and (min-width: 768px) {
display: flex;
justify-content: right;
align-items: center;
}
@media screen and (min-width: 1200px) {
	align-items: last baseline;

}
}

.page__item{
		display: flexbox;
	padding: 0;
}

.page__contacts{
	margin-right: 10px;
	
	font-style: normal;
	font-size: 11px;
	text-decoration: none;
	color:$White-color;
	fill:$White-color;
	&:hover,
	&:focus {
		transition: $animation;
		color: $Accent;
		fill: $Accent;
	}
	
	@media screen and (min-width: 1200px) {
	
		font-size: 14px;
		line-height: 1.71;
	
	}
}

.contacts__icon {
	margin-right: 10px;


}