/* =================SITE-NAV  ================= */
// .page__nav {
// 	display: flex;
// 	// background-color: rgb(3, 18, 78);
// 	// justify-content:start;
// 	// align-items: end;
// 	padding: 10px 0 10px 0;
// 	// padding-top: 10px;
// 	// padding-bottom: 10px;
// 	// width: 100%;/
// 	// position: fixed;

// 	@media screen and (min-width: 1200px) {
// 		// display: flex;
// 		// position: static;
// 		max-width: 1600px;


// 	}
// }


.pg-header {
	display: block;
	position: fixed;
	width: 100%;
	padding: 15px 0 5px 0;
	z-index: 5;
	background-color: $bg-color;
	border-bottom: 2px solid #b5f8f8cc;
	max-width: 1600px;
	margin: 0 auto;

	@media screen and (min-width: 768px) {
		height: 70px;
		position: static;
	}

	@media screen and (min-width: 1200px) {
		height: 85px;

	}
}

.bg-nav {
	display: flex;
	// justify-self: start;
	// align-items: end;
	// width: 100%;

	@media screen and (min-width: 768px) {

		justify-content: space-between;
		max-width: 1600px;


	}
}

.site-nav__logo {
	display: none;


	@media screen and (min-width: 768px) {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		height: 50px;
		transition: $animation-card;
		margin: 0 0px 0 30px;

		.bg-nav:hover &,
		.bg-nav:focus & {
			transform: scale(1.04);
		}
	}

	@media screen and (min-width: 1200px) {
		height: 60px;
	}
}

.nav-logo {

	// display: none;
	@media screen and (min-width: 768px) {
		position: absolute;
		border-radius: 5px;
		fill: $primary-text-color;
		margin: 0 0px 0 0px;
		transition: $animation-card;
		width: 50px;
		height: 50px;
		transition-duration: 0.5s;

		.bg-nav:hover &,
		.bg-nav:focus & {
			box-shadow: inset 0 0 65px 1px #02f4fc61,
				0 0 10px 5px #fc9402,
				0 0 5px 2px #000305c5,
				inset 0 0 6px 1px #000000c5;
		}
	}

	@media screen and (min-width: 1200px) {
		height: 65px;
		width: 65px;
		margin: 0 0px 0 0px;
	}
}


.nav-logo__o {

	// position: absolute;
	@media screen and (min-width: 768px) {
		border-radius: 15px;
		width: 27px;
		height: 27px;
		stroke-width: 0.3px;

		.bg-nav:hover &,
		.bg-nav:focus & {

			stroke: #ffffff;
			box-shadow: inset 0 0 10px 15px #009ed8,
				0 0 15px 5px #009ed8;
		}
	}

	@media screen and (min-width: 1200px) {

		width: 35px;
		height: 35px;
	}
}



.site-nav {
	display: flex;
	// align-items:center;
	z-index: 2;
	// margin-right: 20%;
	// justify-content: flex-start;
	font-weight: 400;
	font-size: 10px;
	line-height: 1.94;
	letter-spacing: 0.03em;
	text-shadow: 1px 1px 1px black;
	transition-duration: 0.5s;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


	@media screen and (min-width: 768px) {
		align-items: center;
		// margin-right: 20%;
		margin: 0 100px 0 0px;
		font-weight: 400;
		font-size: 10px;
		line-height: 1.94;
		letter-spacing: 0.03em;
	}

	@media screen and (min-width: 1200px) {
		margin: 0 200px 0 0px;
		align-items: end;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.94;
		letter-spacing: 0.03em;
	}
}


.site-nav__item {
	display: flex;
	align-items: center;
	margin-right: 15px;

	@media screen and (min-width: 768px) {
		margin-right: 20px;

	}

	@media screen and (min-width: 1200px) {
		&:not(:last-child) {
			margin-right: 30px;
		}
	}
}

.site-nav__link {
	user-select: none;
	text-decoration: none;
	color: $White-color;
	transition-duration: 0.5s;

	&:hover,
	&:focus {
		// transform: scale(1.01);
		color: $Accent;

	}

}

.site-nav__link--current {
	color: $Accent;
}

.contact__list {
	display: none;

	@media screen and (min-width: 768px) {
		display: flex;

	}

	@media screen and (min-width: 1200px) {
		align-items: last baseline;

	}
}

.page__item {
	display: flex;
	align-items: center;
	padding: 0;
}

.page__contacts {
	margin-right: 9px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-style: normal;
	font-size: 11px;
	text-decoration: none;
	color: $Secondary-text-color;
	fill: $Secondary-text-color;
	transition-duration: 0.5s;

	&:not(:last-child) {
		margin-right: 9px;
	}

	&:hover,
	&:focus {
		color: $Accent;
		fill: $Accent;
		// transform: scale(1.05)
	}

	@media screen and (min-width: 1200px) {

		font-size: 14px;
		line-height: 1.71;

	}
}

.contacts__icon {
	margin-right: 10px;

	.page__contacts:hover &,
	.page__contacts:focus & {

		transform: scale(1.1);
	}

}