//  < !-- video-bg -->





.bubble {
   z-index: -2;
   padding: 0;
   margin: 0;
   min-width: 270px;
   top: 50px;
   position: fixed;
   width: 100%;


   @media screen and (min-width: 768px) {
      // display: none;
      top: -150px;
      max-width: 1600px;
   }
}