$primary-text-color: aqua;
$Secondary-text-color: #3fa9f5;
$Accent: #FF8230;
$White-color: #FFFFFF;
$svg-color: #33FF99;
$line-color: #0000FF;

$animation-logo: 2000ms cubic-bezier(0.4, 0, 0.2, 1);
$animation: 2ms cubic-bezier(0.4, 0, 0.2, 1);
$animation-card: 800ms cubic-bezier(0.4, 0, 0.2, 1);
$animation-head: 1s;
$histor-color-text: #d5d095;
$prim-histor-text: #fffdd1;

$bg-color: #1f2f52;
$bg-water: linear-gradient(to bottom,

		#002cb19a 30%,
		#010932b7 85%);

$bg-water-industry: linear-gradient(to bottom,

		#529affc4 30%,
		#010932d0 85%);

$bg-water-histore: linear-gradient(to bottom,

		#529affc4 30%,
		#010932d8 85%);

// $video-color: rgba(27, 0, 179, 0.595);
$section-color: #0a5800;
$section-color__desktop: #0c0c0cce;
// $section-color: #282849d7;$section-color: #18243adf;
/* ==========Utils========= */
// $video-color: rgba(4, 30, 197, 0.804);
// $section-color: #18243ac5; $section-color__desktop: #18243adf;
// $section-color__desktop: #1d1357df;


.list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.link {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}

.visually-hidden {
	overflow: hidden;
	// position: absolute;
	width: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

// 6f727b  #adb2c1
body {
	font-family: 'Courier New', Courier, monospace;
	background-color: $bg-color;
	color: $primary-text-color;
	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
	margin: 0;
}